[2016-08-15 20:45] rahpuser opened #370 "n not workling with custom npm prefix ?"
I installed node the following way:
1. sudo apt-get install nodejs
2. sudo apt-get install npm
3. sudo ln -s /usr/bin/nodejs /usr/bin/node

after that I changed the npm prefix..
mkdir ~/.npmglobals
npm config set prefix '~/.npmglobas'

change in bashrc my path.. adding .npmglobals/bin

after that I try to install n:

npm install -g n

Problems:
1. n is not able to find my previous installed versio

[2016-08-16 09:02] leeeco610 commented on #352
It is unsupported win64?

[2016-08-16 09:04] qw3rtman commented on #352
`n` is not supported on Windows.

[2016-08-18 10:12] qertis commented on #368
+1

[2016-08-18 21:32] qw3rtman commented on #368
Have you run `n` on its own yet? If so, does it produce the same error?

[2016-09-01 17:37] sotojuan commented on #339
You're not supposed to install node with Homebrew. You're supposed to install n and install node with n.

[2016-09-01 20:44] qw3rtman commented on #339
`n list` only displays Node versions installed with `n`.

[2016-09-01 20:44] #339 closed

[2016-09-07 00:47] wvicente commented on #368
same here o/
nothing works, but on 2 different servers: in CentOS I get this error, but my Ubuntu works fine.

[2016-09-10 10:45] sirodoht commented on #370
I have the same problem :(

[2016-09-12 14:52] edi9999 commented on #320
This should be reopened, the error still appears

[2016-09-12 21:32] yagop opened #372 "Option for disabling copy of "bin lib include share" to $N_PREFIX directory"
n copy `bin`, `lib`, `include` and `share` to `$N_PREFIX` when installing a new version if those folders are found. That might cause problems on some environments.

[2016-09-14 14:25] joaomoreno commented on #363
This would be awesome.

[2016-09-16 12:46] ntrrgc commented on #100
@qw3rtman Still happening in 2.1.3

[2016-09-16 12:58] vapits opened #373 "Keeps installing older version on n stable"
I'm trying to upgrade node in my mac by `n stable` but it still installs the old version even that it downloads the correct one:
`n stable`:
![image](https://cloud.githubusercontent.com/assets/8594758/18586672/07892bda-7c1e-11e6-979d-b499eaefbd76.png)

Ps: same on `n latest` etc

Also when I do just `n` to see the installed versions I'm getting a list that doesn't include the installed one:

![ima

[2016-09-16 14:43] vapits commented on #373
It was a conflict with `nvm`.
It actually cannot overwrite `nvm` install version.

[2016-09-16 14:43] #373 closed

[2016-09-17 05:56] Olgagr opened #374 "Question: update npm version"
Is there any way to update npm version for particular node version ? Let's say I switch to node version 6.6.0. The npm version is 3.10.3 and I need to have version 3.10.6.

[2016-09-19 17:04] rahpuser commented on #370
We could probably try using N_PREFIX to change where n works. That should resolve our issue. Did you try some workarounds ?

[2016-09-20 07:25] a-x- commented on #118
Happened to me as well after using latest `n` to install the latest node on node of v0.10.29 (on Raspbian)

[2016-09-21 22:29] EvanCarroll opened #376 "Installing nightly?"
It would be great if we could install nightlies, you can find the repos here. https://nodejs.org/download/nightly/

Especially to get async await, and more people testing these. Developers are also asking for feedback.

https://www.reddit.com/r/node/comments/53vhyk/please_try_a_new_inspect_commandline_switch/

[2016-09-22 16:48] jewelsjacobs commented on #374
I suppose you can refer to this closed issue: https://github.com/tj/n/issues/218

As recommended I did `npm install -g npm`.

[2016-09-22 17:17] Olgagr commented on #374
@jewelsjacobs Thanks for answer. This is what I did, but still when I switch the node version with n, I get bundled npm version. For example, I switched to node 6.6.0, I did `npm install -g npm`, `npm -v` gave me as expected 3.10.6 but after switching to node 6.6.0 after a while, again I have bundled npm version -> 3.10.3.

[2016-09-23 08:02] jwhitmarsh commented on #376
Came to check if this was possible for exactly the same reason!

[2016-09-24 23:36] visionscaper commented on #368
Same here. I'm on macOS Sierra.

    n -V
    2.1.3

    sudo n stable
    Password:
    cp: /usr/local/n/versions/node//bin: No such file or directory
    cp: /usr/local/n/versions/node//lib: No such file or directory
    cp: /usr/local/n/versions/node//include: No such file or directory
    cp: /usr/local/n/versions/node//share: No such file or directory

[2016-09-25 04:02] qw3rtman commented on #100
@ntrrgc, what OS are you running?

[2016-09-25 04:05] qw3rtman commented on #376
This is a great idea! If you're able to send in a PR for this, I'll merge it. 😄

[2016-09-25 04:06] qw3rtman commented on #368
@visionscaper, do you get an error when you run `n` on its own?

[2016-09-25 09:43] ntrrgc commented on #100
Arch Linux.

[2016-09-25 20:29] visionscaper commented on #368
Hi @qw3rtman,

I've been doing many different thinks yesterday, but as far as I can remember this occurred because the use of a proxy was not properly set up: now I don't have this issue anymore. n on it's own worked and produced the list of installed node versions.

Does this make any sense to you (fix by fixing proxy)?

Kind regards,

Freddy

[2016-09-30 01:38] Corluhan opened #377 "Allow switching between local versions using major version number when internet is not available"
Say I have 2 versions installed:

[code]

I can easily switch between them when specifying the full version number:

[code]

This doesn't work with the major numbers:

[code]

The ideal behavior is to select the latest installed version with the specified major version number.

[2016-09-30 23:45] jbielick commented on #376
This'll work, although `n` has a hard time displaying it in `ls`

`NODE_MIRROR=https://nodejs.org/download/nightly/ n 7.0.0-nightly20160930f5d997c476`

[2016-10-01 07:30] qw3rtman commented on #376
Thanks, @jbielick! I've added a link to your solution at the top of the README while we work on building this feature into `n`. 😄

[2016-10-02 07:07] upupzealot commented on #320
Same problem, any solution?

[2016-10-04 05:34] qw3rtman commented on #377
@Corluhan: Is this only an issue when you have no Internet connection?

[2016-10-07 05:26] doug-wade commented on #376
You can use @jbielick solution for the beta builds as well `NODE_MIRROR=https://nodejs.org/download/test/   n v7.0.0-test2016100609987d242b` (which would also be nice to add)

[2016-10-07 06:18] doug-wade opened #378 "Installing beta/nightly leaves npm horked"
I used the method suggested in https://github.com/tj/n/issues/376 to install beta 3, and I discovered that npm is pretty horked when you install a beta build

[code]

I'm fairly certain this is an `n` issue, rather than a node 7 issue, since this repros for a nightly build

[code]

[2016-10-07 10:01] hhsl commented on #368
Hi, I made it work using "sudo -E n stable" under Ubuntu. There definitely seems to be some problem with proxys.

[2016-10-08 01:18] #368 closed

[2016-10-09 20:56] deepsweet commented on #100
same error here with Arch Linux.

[2016-10-09 22:08] EvanCarroll commented on #376
I think it should be easier than that... `n lts` installs the nightly copy, we need `n nightly`

[2016-10-10 05:35] EvanCarroll opened #379 "Rewrite of this?"
Would you consider a rewrite of this as a perl script? Perl is also in the LSB and distributed with every Linux distribution. Perl comes with LWP. I can vastly simplify this and make it much easier to maintain.

[2016-10-12 19:46] iMagdy opened #380 "Don't assume having Node installed"
From readme:

This isn't the case in many scenarios, it's often needed to install this on fresh machines, without node, `nvm` does this. I think it'd be really nice to have this available here too.

[2016-10-13 14:09] khelle opened #381 "Cannot switch node versions?"
[code]

What do I do wrong? How can I switch to node v6 ?

[2016-10-14 00:45] qw3rtman commented on #380
Consider using [`n-install`](https://github.com/mklement0/n-install)! If you scroll down a bit, the README mentions this alternative method.

[2016-10-14 00:45] #380 closed

[2016-10-14 17:27] pborenstein commented on #381
What does `which -a node` give you?

[2016-10-14 17:31] pborenstein opened #382 "Version number of 2.1.4 not updated"
Looks like the version number in `bin/n` and `package.json` are out of sync:

**bin/n**

[code]

**package.json**

[code]

[2016-10-15 12:22] gokaygurcan opened #383 "Hiding old versions"
Hello,

When I type `n ls` into my terminal window, I get this:

[code]

_(sorry for long break)_

There're 310 versions in that list. If you check out [this page](https://github.com/nodejs/LTS), you'll see a release schedule of Node.js. The first 254 versions in the list are from 0.x era, furthermore, only 48 of them are 0.10.x and 17 of them are 0.12.x. There's also 19 of 5.x versions are in the

[2016-10-15 20:22] khelle commented on #381
I fixed the problem by manually removing the symlink and creating a new pointing to the n node's location.

[2016-10-16 04:50] GeoffreyBooth opened #384 "Uninstall all old versions?"
Whenever I run `n latest`, I generally always want all the previously-installed versions uninstalled. This is currently a painful process. I type `n`, try to remember the not-latest version numbers it shows on the screen, then I have to type `n rm 6.8.0` etc. to remove each old version I may have.

Can there be an easier way to remove old versions? Perhaps in the version-selection screen, what I g

[2016-10-18 08:00] zhugexiansheng opened #385 "n work error in mac 10.11.13"
I just install n, when i use n install lts and then n install 4.6.0,when it finish install, my node, npm can't work anyway; The error msg is
"dyld: bad external relocation length
[1]    6986 trace trap  node"
I need to reload node.....

[2016-10-18 10:51] vqoph opened #386 "version error ?"
I look like n package doesn't get the right version :
[code]

[2016-10-18 11:17] icunioli commented on #386
Although I'm not sure if this could be the cause, according to the LTS schedule today should start LTS for v6 (https://github.com/nodejs/LTS#lts-schedule)

Best.

[2016-10-18 12:20] vqoph commented on #386
ok thanks for your answer, I'll use the v4 manually.

[2016-10-19 11:33] hotrush commented on #381
same error
[code]

[2016-10-20 22:36] fabiancook commented on #378
Related https://github.com/npm/npm/issues/14232

Solves issue by installing npm@next beforehand

[code]

[2016-10-21 06:37] #386 closed

[2016-10-21 23:19] iViscosity opened #387 "Ignore - wrong place"
Wrong Place

[2016-10-23 23:26] #387 closed

[2016-10-26 02:27] taoyuan commented on #384
+1

[2016-10-28 16:43] EvanCarroll commented on #384
@taoyuan just fyi. Github supports +1, please use that functionality so we can keep issues clean, https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments

[2016-10-28 16:47] EvanCarroll commented on #379
@tj  any interest in delegating? I want to close out some of the issues. I'd personally rather restart in Perl, but if not I'm going to close them out in bash. At least some kind of east of functionality to get on nightly/testing and the bug to delete old versions.

[2016-10-28 16:49] EvanCarroll commented on #383
Thinking out loud, if the version is supported by upstream we should hide it by default, and then we should have a flag to show the remaining unsupported versions.

[2016-10-28 16:55] EvanCarroll commented on #382
The joys of not using a build system.

[2016-10-28 16:57] EvanCarroll commented on #382
Also, it should be worth mentioning in the future @pborenstein you can actually edit the file in the github browser, make the change and it'll automatically fork and submit a pull request. I only say this because it's both easier, and far more useful. But thanks for catching this.

[2016-10-28 17:05] EvanCarroll commented on #341
Can we closed this @tj ? long fixed.

[2016-10-28 17:10] EvanCarroll opened #391 "Installing a -test version bugs out grep."
Grep is reading the search string when you [install nightly](https://github.com/tj/n/issues/376) as an argument. Using the workaround in #376 https://github.com/tj/n/issues/376#issuecomment-252156076,

[code]

gives you grep errors.

[2016-10-28 18:24] #341 closed

[2016-10-29 02:54] taoyuan commented on #384
@EvanCarroll Got it. Thanks!

[2016-10-30 22:09] fa7ad commented on #379
@EvanCarroll I'm not a perl programmer but can you explain why it would be better in perl than in other languages such as *C* or *Python*. Anyway, why don't you start a fork and see where that takes you.

[2016-10-30 22:17] EvanCarroll commented on #379
Because Perl is far easier to write and maintain than shell. It's in the LSB. It ships with LWP which will be installed where `curl` and `wget` are not installed. It will be easier to test. Python, and even js would be better, imho, but they both have their own challenges. Python is not in the LSP and has a far smaller install base. Javascript is executed by node which is what this is trying to in

[2016-10-30 22:30] tj commented on #379
I don't see a point in rewriting, might as well be a new project then IMO.

[2016-10-30 22:34] #379 closed

[2016-11-02 08:53] nbari opened #392 "n bin version not showing path when using lts as version"
When installing the latest versions using:

    n lts

at the moment of writing this 6.9.1 get installed

    n ls

prints

     ο 6.9.1

So far all good

But if wan to get the path:

    n bin lts

An error is printed:

    Error: lts is not installed

The problem I am facing if that I would like to automate this process and keep a system always with the ``lts``version  but after installing using

[2016-11-02 09:22] jhermsmeier commented on #392
You could use `n bin $(n --lts)` as a workaround for now,
same should work with `--stable` and `--latest`.

[2016-11-02 09:28] nbari commented on #392
@jhermsmeier many thanks is working, but If I have a custom version ``6.9.1`` and use:

    n bin $(n --6.9.1)

I get an  ``Error:  is not installed`` (n ls prints I do have it installed and as default)

Any idea of what flags or escape sequences could I use to just use a value `lts` or `6.9.1`

I would like to find a patter in order to simplify my automation tool.

Thanks in advance.

[2016-11-02 10:15] jhermsmeier commented on #392
You could use a condition to check whether it starts with a digit, and if not – reassign it:
[code]

[2016-11-02 10:25] nbari commented on #392
That's exactly what I want to avoid, would be nice to if ``n`` could handle it.

If currently is already  using a condition to install the latest, maybe same logic could be applied to just print the path.

At the end I could implement many workarounds, but ideally would be nice to have ``n`` behave consistent with the options, maybe this could be an marked as an improvement.

[2016-11-02 17:33] williamkapke opened #393 "Interested in helping build an official Node Version Manager?"
The Node.js Technical Steering Committee was asked to consider bringing `nvm` in to the Node.js Foundation to guide/govern it's future. This has been a long running discussion and I want to invite the contributors here to participate in the conversation.

As you know, there are a few version managers in the ecosystem and they offer different things to different use cases. Ultimately, we want to pr

[2016-11-02 17:45] tjwebb commented on #393
@williamkapke thanks for reaching out. I'll follow the thread you linked to.

[2016-11-03 16:39] jjdltc opened #394 "macOS Sierra ask for firewall after install any Node Version with "n""
Similar to #199 (old issue solved) I note that after install "n" and use to switch between versions the firewall ask for permissions (Because I'm using also **ExpressJs** for an API Rest). The msg is "**Do you want the application “node” to accept incoming network connections?**"

I try to re install node and it's work normal, but if I switch with "n" (2.1.3), the problem start again.

[2016-11-03 19:07] sdaitzman opened #395 "Error running on OpenWRT"
N requires bash to run. I linked the ash shell, used by OpenWRT, to /bin/bash. When I run `# n latest`, the output is `bash: applet not found`. Is there a way to run n without calling bash? Or work around this somehow?

[2016-11-08 13:36] rahpuser commented on #370
Had some one the same problem ?

[2016-11-12 12:02] SenhorBardell commented on #394
Same here

[2016-11-15 16:39] courajs commented on #304
I came here to report this issue exactly

[2016-11-30 14:10] dustintheweb commented on #394
Also have this issue, anyone come up with a fix?

[2016-11-30 15:31] qw3rtman commented on #383
I think the fix that makes the last assumptions is showing the 5 (or so) latest installations with the `n` command and every installation with the `n --all` command. Thoughts on this?

[2016-12-01 19:26] hbarcelos-revmob opened #397 "Doesn't update npm version when in Node >=7"
This works fine:
[code]

This too:
[code]

But here it's broken:
[code]
If I run any script, I get:

[2016-12-07 12:32] montogeek commented on #190
I have this problem using a Colemak keyboard, might it be the problem?

[2016-12-17 09:10] danielbayerlein opened #399 "Tag the latest version on GitHub"
Can you tag / release the versions on GitHub (https://github.com/tj/n/releases)?
The last release is from v2.1.0.
Thanks ❤️

[2016-12-18 16:00] af-fess opened #400 "n selector doesn't work"
I installed `n` with `npm install -g n`

when I run `$ n` I get output:

[code]

when I run:

`$ n 4.4.7` - nothing happens. No output, `node` version doesn't change.

tried to reinstall `n` - same thing. Is there any  `--verbose` flag?

[code]
Any ideas?

[2016-12-19 15:09] dcsan commented on #400
I get exactly this too.
using zsh

➜  ~ n --version
2.1.3

the up/down arrows on the selector don't work, and there is no arrow to indicate currently selected version.

I seem to have other issues with the node installation.
what is the best way to completely uninstall n?

[2016-12-19 16:09] dcsan commented on #381
@khelle can you explain in more detail?

i have such a symlink:

[code]

so you removed that and replaced it with something pointed to the node binary, not the `n` script?

[2016-12-23 05:59] Chaunjie commented on #342
solved?@andresn

[2016-12-25 00:46] digitalmaster commented on #400
Same issue here

[2016-12-28 20:09] owais opened #401 "Doesn't render with solarized terminal color scheme"
What it looks like:

<img width="670" alt="screen shot 2016-12-29 at 1 36 31 am" src="https://cloud.githubusercontent.com/assets/46186/21530514/63c1af54-cd67-11e6-8265-f47c12cb9460.png">

-------------

What it looks like after selecting text:

<img width="659" alt="screen shot 2016-12-29 at 1 36 37 am" src="https://cloud.githubusercontent.com/assets/46186/21530523/6d36df00-cd67-11e6-87f4-3d64a071

[2017-01-02 00:57] rosemead opened #402 "Managing global modules after moving from platform-packaged nodejs to n"
Hi.
Been using stock node (ubuntu. Installed via apt. /usr/bin/node). Have installed several packages globally (npm i -g: grunt, mocha, jasmine et al). Then moved on to use n, which prompted the removal of the existing node package. Installed n under $HOME.

Question: what's the suggested solution for managing said global modules, now that npm doesn't see them anymore: How do I list/remove/upgrade

[2017-01-02 08:09] sercanov commented on #401
+1, dark fonts are not visible

[2017-01-02 22:42] gnestor opened #403 "Using n can break npm features like scopes"
Some of my `npm install`s were failing with `Invalid name: "@jupyterlab/services"`. After doing some research, I found https://github.com/npm/npm/issues/13986#issuecomment-264503491, ran `npm install -g npm@latest` and my issue was resolved. However, if this comment is correct, then n may be the culprit:

[2017-01-03 18:56] matter3 commented on #400
@digitalmaster thanks, fixed for me as well.

[2017-01-06 07:38] sine9 opened #404 "n fails when there is no internet access and other semi-related issues"
Hello n developers! I love `n` and use it to quickly switch versions of node for testing.

I was on a plane recently no internet access and n stopped working.  After seeing that you needed to specify the exact version number, I attempted to write a shell script wrapper and found other issues worth noting.  They are all listed here:

1) there seems to be no way to tell `n` to use the latest availab

[2017-01-10 22:47] roccomuso commented on #381
I'm having the same issue.

[2017-01-13 06:54] sandrodz opened #405 "having a common global npm packages is not a good idea"
Wouldn't it be better to seperate global packages of each version?

[2017-01-18 17:32] nodejquery11 opened #406 "Enbale to install"
Hi Nimit,

It is not an issue but I am unable to install the `n` module. While I was trying to install the `npm n`, it gave me the version issue between npm & node.
Please help me out or guide me that how can I update node version using `npm n`. For your reference I have attached the screen shots
![capture-pic1](https://cloud.githubusercontent.com/assets/18608441/22075400/dfbdc9ba-ddd1-11e6-997f-9

[2017-01-19 08:22] gogoout commented on #400
+1
using zsh.
I have no `nvm` installed
[code]

[2017-01-19 20:07] tinychimp commented on #394
Is there any workaround for this issue?

[2017-01-21 02:23] dcsan commented on #400
could be related to zsh, i also have the issue and am using zsh.

[2017-01-24 23:31] #382 closed

[2017-01-24 23:37] troy0820 commented on #399
New tag made `v2.1.4`: no release notes but new version tagged.

[2017-01-24 23:37] #399 closed

[2017-01-24 23:40] #374 closed

[2017-01-25 00:01] troy0820 commented on #331
Does this issue still need to be open?

[2017-01-25 12:04] danielbayerlein commented on #399
:+1:

[2017-01-25 21:00] ewanharris commented on #406
@nodejquery11 As stated in the readme, n does not support Windows. An alternative for Windows is https://github.com/coreybutler/nvm-windows

[2017-01-26 04:46] troy0820 commented on #406
Closing this issue 👍

[2017-01-26 04:46] #406 closed

[2017-01-27 07:18] nodejquery11 commented on #406
Thanks all 👍

[2017-01-27 14:49] jrmhaig opened #408 "Failed to create symlink for binary"
I have tried to install the [localinclude](http://bbcnewslabs.co.uk/2017/01/13/localinclude/) module with

[code]

and it has installed the binary to `/usr/local/n/versions/node/6.0.0/bin` but has not created a symlink into a directory in `$PATH`.

I presume that the link should have been put in `/usr/local/bin`, which is where the link for node is.

[2017-01-28 13:49] andresmihkelson commented on #400
I am using bash and with the latest n, the same happens. No nvm also. Using Fedora 24. Also, after running n fails, I cannot type anything into the prompt any more.

[2017-01-29 04:58] troy0820 commented on #317
Closing this issue

[2017-01-29 04:58] #317 closed

[2017-01-29 05:03] troy0820 commented on #124
I'm closing this issue.

[2017-01-29 05:03] #124 closed

[2017-01-29 05:06] troy0820 commented on #112
The updates to the newest version of `n` should take care of this.  I'm closing this issue but if this issue persists, please open a new issue.

[2017-01-29 05:06] #112 closed

[2017-01-29 15:50] xixixao commented on #397
Confirmed, npm installation is broken.

[2017-01-29 16:15] troy0820 commented on #397
@xixixao @hbarcelos-revmob
From the README:
[code]

Try that to see if that fixes your problem. I'm trying to reproduce the error and I'm not getting it.

[2017-01-30 12:04] hbarcelos-revmob commented on #397
For the record, I'm using Ubuntu 14.04 at work. Here I have this problem.
At home, I use Arch Linux and didn't have the same problem.

[2017-01-30 16:43] troy0820 commented on #397
@hbarcelos-revmob @xixixao I'm trying to reproduce the error and I'm not getting it.  I also made a docker container that you can try it on to see if you are getting the same error.  Did you install nvm first? What version of this are you running?

If you have docker installed, you can run this container and try to replicate the errors you are getting.
[code]
After that run some n commands and if

[2017-01-30 17:05] hbarcelos-revmob opened #410 "Installation inside docker image doesn't work"
# Issue Template:

### Describe issue including what OS you are using

I'm using Ubuntu 14.04 LTS with Docker 1.13.0, trying to install `n` in a Amazon Linux base image.

### Describe how you installed N

This is my `Dockerfile`:

[code]

### Steps to reproduce issue

[code]

### Describe the results you received

[code]

### Describe the results you expected

I was supposed to see the 4.3.0 versi

[2017-01-30 17:13] troy0820 commented on #410
you need to add `curl -L https://git.io/n-install | bash -s -- -y` in your docker file.  What is happening is that you can answer yes to the prompt.  I have an image that you can see that the Dockerfile works.

Here is the Dockerfile

[code]

Here is the image that you can test locally:

[code]

[2017-01-30 18:53] troy0820 commented on #410
@hbarcelos-revmob Did that work for you? Can I close this issue?

[2017-01-30 19:29] hbarcelos-revmob commented on #410
Hi @troy0820

Yeah, that worked smoothly.

Thank you =]

[2017-01-30 19:29] #410 closed

[2017-01-31 03:01] troy0820 commented on #397
@hbarcelos-revmob @xixixao Did this work for you? Can this issue be closed?

[2017-01-31 13:32] hbarcelos-revmob commented on #397
@troy0820

I just ran

[code]
It installed `node@7.4.0` and `npm@4.0.5` as expected.

For the record, I'm running  `n@2.1.3`.

[2017-01-31 13:32] #397 closed

[2017-02-01 22:35] ptmccarthy commented on #394
I'm running into this as well. Anyone found a workaround or fix?

[2017-02-01 23:38] rodrigomaia17 opened #411 "vim-like shortcuts to select versions"
it would be awesome if we could use J and K keys to select version as an alternative to the traditional arrow keys.

[2017-02-02 03:56] troy0820 commented on #307
I'm assuming this issue is resolved because @jkwuc89 said it worked.  If this issue needs to be open, I'll reopen it.  Just comment.

[2017-02-02 03:56] #307 closed

[2017-02-02 03:57] troy0820 commented on #167
I'm closing this issue because it's been over a year.  If this issue needs to remain open, please comment in the comments @akamensky

[2017-02-02 03:57] #167 closed

[2017-02-02 04:02] troy0820 commented on #394
What version of N do you have?  I'm trying to reproduce the error. Since it's macOS sierra, I can't run it in a container to see how it got there.

[2017-02-02 05:55] ptmccarthy commented on #394
I'm running with the latest version of N. Though npm lists it as 2.1.4 while n itself only reports 2.1.3:

[code]

[code]

Any time I run a version of node that was installed via N, I get the macOS firewall warning about allowing or denying the application:

<img width="532" alt="screen shot 2017-02-01 at 9 52 27 pm" src="https://cloud.githubusercontent.com/assets/2992608/22538639/c68c665c-e8c8-11

[2017-02-02 06:50] beeman commented on #394
This issue has been bugging me fore a while now too.

I thought I found the solution by adding `node` to the firewall using the cli, but it did not change the behavior.

`sudo /usr/libexec/ApplicationFirewall/socketfilterfw --add /usr/local/bin/node`

Quite annoying, especially when you have a watcher that restarts your node server on changes, you have to click away the message each time.

Also, s

[2017-02-03 02:00] jasonkarns commented on #86
Permalink for code reference post by @davidcornu in original post (for posterity): https://github.com/tj/n/blob/77946bb9c69c8ac365fb4d2ea9e666e417dfdc3c/bin/n#L138-156

[2017-02-03 15:35] hufeng commented on #298
i'm came cross the same problem

[2017-02-03 22:39] maciekrb commented on #400
Make sure you uninstall your previous version of node. For example, if you are using OSX and MacPorts or `brew`, make sure `which node` points to `/usr/local/bin/node` (or the path you chose to install `n` node).

[2017-02-04 00:29] troy0820 commented on #400
The problem is that it can't find the `$versions_paths` directory.  This could be because `find` isn't installed or the `$N_PREFIX` isn't pointing to where the versions are installed.

@andresmihkelson Are you using a container or is this local?  Make sure you have the `findutils` package.  I have a container that you can test this on, if you have docker.

[code]
Install a couple of versions and t

[2017-02-04 00:51] #298 closed

[2017-02-04 17:55] andresmihkelson commented on #400
@troy0820 It was locally installed and findutils was also installed. But probably something unrelated to n was responsible, because today I reinstalled n through npm again and it works fine. Thanks anyways! (:

[2017-02-04 17:59] troy0820 commented on #400
Are you still having this issue @af-fess?

[2017-02-04 20:12] sotojuan commented on #383
That sound great @qw3rtman.

[2017-02-07 03:30] troy0820 commented on #408
@jrmhaig :

* What version of `n` do you have installed?

* Can you run `which n` and `which localinclude` and put the output in this issue.

* What OS are you running on?

* If you have docker installed, you can run this in a container by running

[code]
You will see it working on that environment.

[2017-02-07 09:34] jrmhaig commented on #408
[code]

I have created the symlink but `which localinclude` was returning nothing. The OS is ubuntu 16.04.1 LTS and we are not using docker.

[2017-02-09 19:03] troy0820 commented on #408
Your issue sounds like it may be with `localinclude` but I can run it in that container which is also running ubuntu:16.04.  That container is `troy0820/node-n:16.04`

I know you don't have docker but this is how you would run the image in a container to test the issue.

[code]

[2017-02-10 09:54] wlsf82 commented on #340
Is there any ETA for solving this?

[2017-02-10 10:04] wlsf82 opened #413 "When running npm run lint it uses the right npm version, but the wrong node version"
OS: MacOs Sierra 10.12.3

n version: 2.1.4

I'm not installing `n` globally. May this cause the issue?
This is the way I'm installing it.

`npm install n@latest`

### Steps to reproduce issue:
1. `./node_modules/.bin/n ${NODE_VERSION_7}`
2. `./node_modules/.bin/n ${NODE_VERSION_7} # If <version> has already been installed (via n), n will activate that version.`
3. `${N_PREFIX}/n/versions/node/${NO

[2017-02-10 11:16] wlsf82 commented on #413
Just to update, the same issue happens when n is installed globally. :/

[2017-02-10 14:43] troy0820 commented on #413
How did you install `n`? Do you have `nvm` installed? Please do a `which n` since you have it globally installed so I can get some more information on your issue.

I have a docker container that you can test your issue out on.  If you have docker installed, you can test your use case in this container by running
[code]
You should see version `7.4.0`

[2017-02-11 03:26] troy0820 commented on #401
Issue resolved with PR #412

[2017-02-11 03:26] #401 closed

[2017-02-13 15:15] troy0820 opened #415 "Add topics to repository"
Admin - please add topics to this repository.  i.e. node version manager, nodejs, etc

[2017-02-18 03:49] #400 closed

[2017-02-20 10:17] creynders commented on #370
in case anybody comes looking for a solution, make sure:

* you set N_PREFIX to the appropriate directory (with correct permissions)
* remove the system-wide node version in /usr/local/bin
* export the path to the custom `bin` directory

E.g.
[code]

[2017-02-20 23:04] isiahmeadows commented on #394
I'll note that somehow, [there was never a similar issue reported with nvm](https://github.com/creationix/nvm/issues?utf8=%E2%9C%93&q=is%3Aissue%20macos%20firewall). Just thought it'd be relevant.

[2017-02-21 15:17] sscaff1 commented on #342
Ending your React Native packager also solves the issue (even though again this isn't a permanent fix).

[2017-02-23 08:41] morkro commented on #394
Just to keep this active; I am running into the same issue. Installed `2.1.4` but `n --version` responds with `2.1.3`.

[2017-02-23 10:02] ma2ciek commented on #263
The problem still exists with versions >= x.10.x, because the versions are in the alphabetic order, not the number order, so the x.10.x version is just after the x.1.x version (for example 6.10.0)

[2017-02-23 21:21] pkoretic commented on #376
@qw3rtman any news on this one?

[2017-02-24 12:40] poislagarde commented on #394
Same, but I get 2.1.4 from `n --version`:

[code]

[2017-02-24 13:37] morkro commented on #394
The problem has been fixed for me after I restarted macOS. 😅

[2017-02-24 13:43] beeman commented on #394
I've stopped using `n`, installed node using `brew` and stopped switching versions.

[2017-02-28 15:52] troy0820 commented on #413
Try using `n use <version>` in your script.  _since it's global now_

You can see where the version you are trying to target is installed with `n bin <version>` and use that for your script.  i.e.
[code]
Then in your package.json `scripts` object, target that `/usr/local/...` for whatever version you want.
@wlsf82

[2017-02-28 16:37] troy0820 commented on #411
I can't find the keys with the escape sequence that's necessary for this feature.  I'm not sure if this is possible.

[2017-02-28 20:04] wlsf82 commented on #413
The problem is that I'm trying to install node and npm in a place different than `/usr/local/.../`, then when running `./node_modules/.bin/n use 7.6.0` (for example), I got the following error: `Error: 7.6.0 is not installed`, but actually this version is installed in the following location `${N_PREFIX}/n/versions/node/${NODE_VERSION_7}/`, where `${N_PREFIX}` is equal to `export N_PREFIX=`pwd``

[2017-02-28 20:08] wlsf82 commented on #413
The main issue is that I cannot use n globally, because it will be executed by a user that doesn't have sudo permissions.

[2017-02-28 21:13] troy0820 commented on #413
Your script in your package.json should be `./node_modules/n/bin/n 7.6.0;`  which will execute installing 7.6.0 then whatever you want to do after that.  Installing n doesn't give you npm even when you change versions,

So for instance if you are doing this in a travis-ci env to test multiple versions it would need to be globally installed, the ./node_modules are not in your path to execute this.

[2017-03-05 17:43] tiagomsmagalhaes opened #416 "Permission denied before running with sudo"
# Issue Template:

### Describe issue including what OS you are using

After installing n on macOS 10.12.3 and node 7.5.0 previously installed, I ran simply `n` and got "permission denied" issues along stating that I hadn't any version installed along the list of possible commands.

Then I ran one command with `sudo` and the "permission denied" issue disappeared.

### Describe what version of N yo

[2017-03-06 09:00] tonghuashuo commented on #355
I got into similar problem this morning. and solved in an unexpected way. just sharing it.

I was upgrading yarn to the latest version using homebrew. During the progress brew also upgraded my node version. I've been using 6.9.3 on my work machine. I also have 7.3.0 installed with n for test. It automatically installed 7.7.1 for me. (I did some `brew link` operation according to error output from

[2017-03-08 12:20] Ognian opened #417 "please republish after version bump"
use `npm view n` to see which version and when it was published in the npm registry
you will notice that
[code]
2.1.4. has been published on August 8 2016
and not republished especially when the version string was changed to 2.1.4 which was on Dezember 17 2016...

[2017-03-08 17:25] brettspeaks commented on #394
This isn't an issue with `n`. It's an issue with the macos firewall getting confused when `n` re-links `/usr/local/bin/node`.

I was able temporarily removed the issue by:

1. Set n to node v. 7.6.0
2. Removed all entries in the System Preferences > Security & Privacy > Firewall Options.
3. Restarted machine.
4. Start express server.
5. Re-allow node to accept incoming connections.
6. Stop and res

[2017-03-08 17:34] troy0820 commented on #417
I can't publish over `2.1.4` so I would have to bump this to `2.1.5`  and fix that in the `bin/n`

[2017-03-08 17:37] troy0820 commented on #417
n@2.1.5

[2017-03-08 17:37] #417 closed

[2017-03-08 17:40] troy0820 commented on #416
You don't own the folder `/usr/local/` so executing anything will have to come from sudo.  If you `chown` the directory, using sudo will not be necessary for `n`

If you ever had brew installed they do that for you.

So for your issue, sudo is the way you need to go to use n.

[2017-03-10 15:36] EasonWang01 commented on #381
I'm using arm system after ssh reconnect solved.

[2017-03-10 16:56] nyxtom commented on #405
This is also an issue given that the npm version doesn't seem to be updated on n

[2017-03-10 17:27] ljharb commented on #405
Yes, global modules should not be shared across node versions.

[2017-03-10 19:57] troy0820 commented on #405
I'm interested in this approach because nvm is shell specific right? `n` is not.

I'm not sure how to approach this.

Since the node version is activated across the user's platform the global module persists to be valid because node is using the version activated by n.  N doesn't use a space where it can have individually global modules for each version.

If you are using a lot of global modules,

[2017-03-10 19:59] ljharb commented on #405
Space is infinite and free, correctness is rare and expensive.

It's handled in nvm by each node version having its own entirely distinct global node_modules folder. In practice, nobody's complained of running out of disk space, especially because it's exceedingly rare nowadays to ever need a global module anyways (everything should generally be installed locally)

[2017-03-10 20:17] troy0820 commented on #405
I'm not sure that would work with `n` not being shell specific.

I'm curious to know why would this approach be wrong?  If I downloaded a new version of node from int he internet and installed over top of the old one, the global modules still exist in the folder that npm dumps the global modules.

I didn't implement this, I just help maintain it but I know that `nvm` and `n` do it two different wa

[2017-03-10 23:09] ljharb commented on #405
@troy0820 because binary modules need to be recompiled on every version of node - sometimes patch, although usually just minor. The fact that that's how it works when you install node from source doesn't mean that's the way it should work.

At the very least, `n` should probably `npm rebuild` each of the installed global modules on every switch.

[2017-03-11 20:05] stevestock opened #418 "Simplify Installation section in README"
### Issue Type: Documentation

Recommend simplifying the README to put the `n-install` option right after the `npm` option, and having a separate section for manually building via `make install` and setting up environment variables.  In my experience, long "getting started/installation" sections can turn people away.

What drew me to use n over nvm was the simplicity.
From a brand new machine, `cu

[2017-03-15 03:35] a526672351 opened #419 "why I can't install n on my operating system?"
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "D:\\Program Files\\nodejs\\node.exe" "D:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "i" "-g" "n"
npm ERR! node v4.4.7
npm ERR! npm  v2.15.8
npm ERR! code EBADPLATFORM

npm ERR! notsup Unsupported
npm ERR! notsup Not compatible with your operating system or architecture: n@2.1.5
npm ERR! notsup Valid OS:    !win32
npm ERR! notsup Valid Ar

[2017-03-15 21:35] tracker1 commented on #419
Because of how windows applications are generally installed... it might be possible to create an "n" installer that installs only for your user, then adds that path to your user's environment `PATH` ...

There's an [nvm for windows](https://github.com/coreybutler/nvm-windows/releases), though the interface is slightly different from regular nvm (it's written in go), but it requires elevated privil

[2017-03-16 00:08] troy0820 commented on #419
The README says:

I would try nvm for Windows.

[2017-03-16 00:08] #419 closed

[2017-03-16 21:16] RichLewis007 opened #420 "unable to install node-v0.6.5"
# Issue Template:

### Describe issue including what OS you are using

_i.e. I'm using MacOS Sierra_

### Describe what version of N you have
_i.e. n --version output: 2.1.4_
2.1.5 latest

### Describe how you installed N

* _i.e. npm install -g n_
* _i.e. make install_
some crazy shell script you suggest in your readme

### Steps to reproduce issue _1.2.3_
_i.e._
1. n latest
2. couldn't pull late

[2017-03-16 22:00] troy0820 commented on #420
Here is your problem on this line in `bin/n`

`N` is looking for a dist folder with the ` https://nodejs.org/dist/v0.6.5/node-v5.6.0-linux-x64.tar.gz` not `https://nodejs.org/dist/v0.6.5/node-v0.6.0.tar.gz ` which is the only one available.

It is still a valid node version but not what N is expecting.  That version of node is no longer supported and I'd advise not using it honestly.  To fix this

[2017-03-17 11:51] RichLewis007 commented on #420
Thanks. I was trying to run some old code that was written for that version of node.js

When I use the "n ls" command, all of the old node versions are listed. Should n only list the versions that it can install? Which ones can it install, going back?

[2017-03-17 14:03] troy0820 commented on #420
`n ls` lists every version that is available at https://nodejs.org/dist/.  These versions are still valid but the `n` script doesn't try to install those versions that are not specific to the Linux platform.  That is why it doesn't work for windows.  I believe that they used this convention when making this script because of the fact that older versions were unstable.

I'm not sure what version yo

[2017-03-18 00:53] troy0820 commented on #418
Yeah if you want to contribute to the docs, I'd definitely appreciate it.  Put a PR in and we will see what we can do.

[2017-03-18 04:11] RichLewis007 commented on #420
Thanks!

[2017-03-18 04:11] #420 closed

[2017-03-19 04:28] aligajani opened #421 "Doing n 7.7.3 or sudo n 7.7.3 gives Error: invalid version 7.7.3"
It doesn't specify any further details about the error except this:

[code]

[2017-03-19 05:02] troy0820 commented on #421
Please use the Issue template that this repository is set up for. I need more information to help you with your issue.

[2017-03-19 05:06] aligajani commented on #421
I am using Mac 10.10.2. I already have a node version installed i.e 5.5.0.
I just want to use `n` for also using `7.7.3`.

[2017-03-19 05:15] troy0820 commented on #421
I get that, but what version of `n` do you have?
There is a docker image you can test this out with. `docker run -it troy0820/node-n:latest`
I was looking for the specific steps and output that you are doing to get to this problem.

If I run that same command in the docker image, I get the right version installed.

[2017-03-19 05:15] troy0820 commented on #421
`n --version`
`which n`

[2017-03-19 05:15] aligajani commented on #421
I have `2.1.5`

[2017-03-19 05:19] aligajani commented on #421
It would be useful if there was a debug log I could show you.

[2017-03-19 05:20] troy0820 commented on #421
what happens when you type sudo n in your terminal?

[2017-03-19 05:21] aligajani commented on #421
[code]

[2017-03-19 05:22] troy0820 commented on #421
What happens when you try n latest or n lts?

[2017-03-19 05:23] aligajani commented on #421
**n**
[code]

**n lts**

[code]

[2017-03-19 05:24] troy0820 commented on #421
do you have this folder `/usr/local/n/versions`

[2017-03-19 05:25] aligajani commented on #421
Yes and inside it I have
[code]

[2017-03-19 05:25] troy0820 commented on #421
I'm trying to recreate the problem because I'm not getting that.

[2017-03-19 05:26] aligajani commented on #421
It's really strange because I have made `n` work just fine on `Ubuntu Xenial`

[2017-03-19 05:35] troy0820 commented on #421
check to see if you have curl installed, you should but I replicated the issue on a alpine container and the problem was it didn't have curl,

[2017-03-19 05:36] troy0820 commented on #421
`which curl`

[2017-03-19 05:36] aligajani commented on #421
I do

[code]

/Applications/XAMPP/xamppfiles/bin/curl

[2017-03-19 05:37] troy0820 commented on #421
`/usr/bin/curl`

[2017-03-19 05:38] aligajani commented on #421
I don't have that but I dont think that makes a difference. I do have `curl` is what I mean.

[2017-03-19 05:39] troy0820 commented on #421
curl needs to be in your path, that's why it makes a difference.  If you have curl in your path, `n` can use it to download the binaries.

[2017-03-19 05:40] aligajani commented on #421
Alright, so if I put it there, let's see if it makes any difference.

[2017-03-19 05:41] aligajani commented on #421
Oh shit, it actually is there. Just checked

[2017-03-19 05:41] aligajani commented on #421
How do I link it in though..I have the older one from XAMPP and new one in `bin`.

[2017-03-19 05:42] troy0820 commented on #421
what do you get if you type `command curl -V`  in your terminal?

[2017-03-19 05:42] troy0820 commented on #421
if your path has `/usr/bin` you should be able to see it when you `which curl` -> `/usr/bin/curl`

[2017-03-19 05:43] aligajani commented on #421
I get the XAMPP one if I do `command curl -V`.

[2017-03-19 05:43] aligajani commented on #421
Same , XAMPP one when I do `which curl` as well.

[2017-03-19 05:45] troy0820 commented on #421
yeah that's not gonna work it seems.  I would get the regular curl from brew or curl itself,

[2017-03-19 05:45] aligajani commented on #421
I should just symlink right?

[2017-03-19 05:46] troy0820 commented on #421
Yeah, that may fix it as well

[2017-03-19 06:14] #421 closed

[2017-03-20 13:51] #415 closed

[2017-03-27 16:44] troy0820 commented on #404
`n prune` will remove old versions of node on your system as of `n 2.1.6`

[2017-03-27 17:20] mafischer opened #423 "Add support for lts version name i.e. "argon" or "latest-argon""
Now that each lts branch is named, it would be nice to install them by their names i.e. `n argon` or `n boron`.

https://nodejs.org/dist/latest-argon/
https://nodejs.org/dist/latest-boron/

[2017-03-30 23:01] mashiox commented on #304
This occurs on Ubuntu 16, too.

[2017-03-30 23:47] troy0820 commented on #304
I can't reproduce the problem to help with this issue.  I have a docker image `troy0820/node-n:16.04` that is an Ubuntu 16 and I can't reproduce it.  What version of `n` are you running?

[2017-03-30 23:53] mashiox commented on #304
@troy0820 Whatever's on npm. I'm making a PR with my fix right this moment

[2017-03-31 00:05] #304 closed

[2017-03-31 00:07] troy0820 commented on #423
This looks doable but the problem we will have with that is when whatever `c` is going to be named if we don't regex it.  I am working on a way to include `release candidate` as well so this may go along with that milestone.

[2017-04-04 23:55] ChickenFur opened #425 "Cannot install latest"
# Issue Template:

### Describe issue including what OS you are using

when running n latest it attempts to install  node-v7.8.0 but fails with the message:
Error: invalid version 7.8.0

MacOS X El Capitan
April 4th 4:55pm Pacific time

### Describe what version of N you have
2.1.3

### Describe how you installed N
npm install -g n

### Steps to reproduce issue _1.2.3_
1. n latest

### Describe th

[2017-04-05 00:15] troy0820 commented on #425
Cloudflare stuff going on may be impacting this.  node/node  has already put an issue in about this. https://github.com/nodejs/nodejs.org/issues/1191

[2017-04-05 02:07] troy0820 commented on #425
I would also recommend you getting the latest version of `n`.  We are at 2.1.7.  Try it now, because they just closed this issue. @ChickenFur

[2017-04-05 14:32] amadsen commented on #425
I can confirm that the npmjs download issue was causing the failure for me. I wonder if we might want to add an environment variable for specifying a mirror to download from instead (& possibly better error messaging. A 5xx status code should result in "Version unavailable: server error." Or similar, not"Invalid version".)

[2017-04-05 14:38] troy0820 commented on #425
The mirror that we get the node versions come from the source of truth itself, `https://nodejs.org/dist/`.  So when the CloudFlare issue came up yesterday, it crippled nvm as well.

I agree that the error messaging gives problematic troubleshooting and that will be addressed.  Any other mirrors not associated with nodejs.org will have to be vetted to be added to this project.

I am closing this is

[2017-04-05 14:38] #425 closed

[2017-04-07 16:25] ShaggyDude opened #427 "n -v doesn't work. wtf?"
n -v doesn't work.
n --version does.
wtf?

Alias it, please because it is cryptic and cool.

[2017-04-07 16:35] ShaggyDude commented on #427
I see ' n-V' and know there must be some reason.
nm..

[2017-04-07 16:35] #427 closed

[2017-04-12 10:52] ilkka commented on #384
Here's a bash-specific solution, based on grepping for the escape codes in the output. The grep expression part before the pipe character drops any uninstalled versions, and the part after the pipe drops the currently active version. The output is then put all on one line and used as the argument to `n rm`.

[code]

[2017-04-12 13:05] troy0820 commented on #384
We now have `n prune` which remove all old versions that are not active.  I probably should update the docs.  If this suits your needs I can close this issue.

[2017-04-12 16:44] ilkka commented on #384
Oh nice, I was on 2.1.3 so I didn't have that (at least not in the CLI help text IIRC).

[2017-04-12 16:48] troy0820 commented on #384
Yeah it's on `2.1.7`

[2017-04-14 01:56] daiando opened #430 "How to set company proxy option when using n ?"
# Issue Template:
### Describe issue including what OS you are using
I'm using Centos 6.3 VM under company proxy.
I want to set proxy option when using 'n'.
I'm using npm with proxy settings but I can't find out how to use n with proxy option.
Do you have any idea ?

### Describe what version of N you have
2.1.7

### Describe how you installed N
npm install -g n

### Steps to reproduce issue _1.2.

[2017-04-17 13:38] nineohnine commented on #430
+1 for this.  Looking for correct usage of `HTTP_PROXY`, `HTTPS_PROXY` env variables.

[2017-04-19 14:44] alqu commented on #430
I tried it successfully with setting the env-vars `http_proxy` and `https_proxy`.
If the proxy does not allow ssl tunneling then my PR #426 comes in handy.

[2017-04-20 00:39] daiando commented on #430
Oh, you're right.  I was able to use 'n' just like 'wget' or 'curl'.  Thank you for tips :)
`export HTTP_PROXY=http://your-proxy-url:port`
`export HTTPS_PROXY=http://your-proxy-url:port`
and then
`n latest` or whatever.

[2017-04-20 00:39] #430 closed

[2017-04-20 06:45] amadsen commented on #425
I just noticed that we already have environment variables for setting the NODE_MIRROR and IO_MIRROR:

[code]

That's actually all I was looking for in that regard. Thanks for your work!

[2017-04-21 08:32] timaschew commented on #355
For me even when I remove all versions of 6, it's still broken, I already had that issue and needed to remove n including the symlinks, this is a dealbreaker! Very sad, I need to switch now to nvm

BTW: after trying to use the cursor (down/up) to switch the version, the grep help appears, see screenshot.
![n-bug](https://cloud.githubusercontent.com/assets/110870/25269616/c1bc142c-267d-11e7-8a54-c6

[2017-04-21 16:40] troy0820 commented on #355
What version of `n` are you running?  This may have been resolved in `n@latest` because when I run this in a container, I'm not getting these issues.

[2017-04-22 07:17] dev-mraj opened #431 "Not working with alpine:3.2+"
Hi,
its not working with alpine 3.2 in docker..

i don't even list version using "n ls"
### Describe issue including what OS you are using
Alpine 3.2

### Describe what version of N you have
2.1.7

### Describe how you installed N
npm install -g n

### Steps to reproduce issue _1.2.3_

docker run -it alpine:3.4 sh
 apk add bash nodejs --update
npm i -g n
n ls

### Describe the results you received

[2017-04-22 20:12] troy0820 commented on #431
Originally when this was designed these OS's were not the target.  One reason you can't see any of the versions is that` alpine` in itself doesn't really come with anything.  So you need `curl` to actually hit the endpoint where the versions are listed.  That will get you as far as `n ls`.  To download any versions because the packages are stripped down you will need a lot of other packages, inclu

[2017-04-24 07:47] kamal-bouzekri commented on #355
@timaschew `n` can't detect the default node version installed.
First set the current node version with `n 7.9.0` and now next time, you will give `n` you'll get a select list with all node version installed.

[2017-04-24 09:46] MasterJames opened #432 "View installed without interface n? command"
### Describe issue including what OS you are using
It's a bit wierd. PuTTY to VM Ubuntu Server
Ubuntu 16.04.2 LTS xenial

### Describe what version of N you have
2.1.3

### Describe how you installed N
npm install -g n maybe no g

### Steps to reproduce issue
typing n by itself [interactive mode]

### Describe the results you received
After leaving the "n" view mode new lines no longer get interpr

[2017-04-25 19:59] gmacgr opened #433 "Problem installing node using `n 4.5.0'"
I am using CentOS 6.6 and trying to use 'n' to install a version of nodejs I wish to use with RocketChat.
` node -v
v0.10.48`
` n -V
2.1.7`
`npm -v
2.15.9`

I installed `n` using `npm install -g n`

Issue:

[code]
Any suggestions on what i might be doing wrong?  I was successful using this in CentOs 6.9 but I need to use 6.6 for it.

I also attempted to `n stable` and got:
[code]

[2017-04-25 20:41] troy0820 commented on #433
Please use the template...

What happens when you try to `n ls`?
From the looks of it, it looks like you don't have curl installed on your machine.  `yum install curl`

I have this in a `docker container` that you can run with `docker run -it troy0820/node-n-centos:6.6 /bin/bash`.  After you have it running, you can try to install some versions `n lts` n latest` and use `n` to switch between them.

[2017-04-25 23:58] MasterJames commented on #432
If I go to a bash shell first via "bash" I can exit and recover. I think it also is only if you CTRL-C to leave interactive mode.

[2017-04-26 00:28] MasterJames commented on #432
After typing "n -h" I found "n ls", guess I should have tried that first. I suppose it's not clear in the documentation.

[2017-04-26 00:28] #432 closed

[2017-04-26 03:58] troy0820 commented on #431
I also have a docker image you can try called `troy0820/node-centos-n:6.6` to try your hand at that image if you need it.  @dev-mraj

[2017-04-26 12:43] gmacgr commented on #433
Hi Tony,

Sorry about the template, I removed the headers but it was basically in the same layout.

`n ls` gives back nothing, which doesn't make sense according to the docker container you suggested..

I have curl installed
[code]

Does N use ssl for connections?

[2017-04-26 13:51] troy0820 commented on #433
It's Troy....

You are probably having a SSL issue.  `openssl` probably needs to be updated.

Did you try to run the docker container?  If you have docker, I would try that container and compare it to your VM. It's CentOS v6.6 and it can help you troubleshoot the problem better.

The mirror we use in `n` is `https://nodejs.org/dist/`.  If you can't wget or curl that url, then you may have a bigger

[2017-04-26 14:23] gmacgr commented on #433
That looks like the problem...I cannot curl https://nodejs.org/dist/
[code]

Time to figure out why ssl isn't working....

Thanks for the help Troy, and sorry about the miss typed name, Auto correct changed it and I never noticed.

[2017-04-28 03:01] troy0820 commented on #433
@gmacgr Are you still having this problem?  Did you try the docker container?

[2017-04-28 12:34] gmacgr commented on #433
Yes still issues but only on testVm1.  Looks like the SSL config is broken at Change Cipher Spec during the SSL connection.

I  deployed another VM and installed nodejs and n.  It appears to be working as the curl commands are as well.  Not sure what went wrong with testVm1 install and the ssl configuration as i did not change the default.

Thanks for the help, and the docker container.

[2017-04-28 12:34] #433 closed

[2017-04-30 13:31] mickyinba opened #435 "Error installing on x64 Windows 10"
on my Windows 10 64-bit
I couldn't install n using command "npm install -g n". The error that I got was:
npm ERR! notsup Unsupported platform for n@2.1.7: wanted {"os":"!win32","arch":"any"} (current: {"os":"win32","arch":"x6 4"})

[2017-05-01 14:23] troy0820 commented on #435
The README states `n does not work on Windows at the moment. Pull Requests are appreciated.`

I haven't tried to see if this works with Windows 10 inside the ubuntu bash shell yet.

[2017-05-03 02:01] pcstl commented on #100
Same error happening on Antergos Linux. I'm copying manpages manually from ```/usr/local/n/versions/node/{version}/share/man``` to ```/usr/share/man``` as a workaround.

[2017-05-09 19:30] #435 closed

[2017-05-09 19:32] #408 closed

[2017-05-09 19:37] brodybits commented on #435
FYI https://github.com/jasongin/nvs supports Windows as well as macOS & other *nix.

[2017-05-11 00:46] isiahmeadows opened #436 "Node binary cannot be found in macOS Sierra"
**OS:** macOS Sierra
**`n` version:** 2.1.7
**Installation method:** `curl -L https://git.io/n-install | bash`
**Installation location:** `/Users/<username>/n/bin/n`

## Symptoms

I had issues selecting the version, and saw that `grep` was printing its help message, so I began to investigate.

## Underlying cause

What I found was that no Node version is found, despite verifying one *should* be fo

[2017-05-11 03:47] troy0820 commented on #436
Using the 3rd party installer puts `n` in `$HOME/n/bin`.  This in Mac OS Sierra isn't in your path originally.  This 3rd party installer isn't where the functionality of where that installer puts `n`.  If you are using mac os sierra the easiest way to install `n` is to use `npm i -g n` which will symlink your node binary to the version selected.

[2017-05-11 04:27] isiahmeadows commented on #436
Okay. That resolved my issues. I'll complain in `n-install`.

[2017-05-11 04:27] #436 closed

[2017-05-22 19:38] RoanDev commented on #381
@roccomuso thanks that helps

[2017-05-26 12:32] GittiHab opened #437 "n not activating version"
I am using macOS 10.12.5 (Sierra), npm version 3.10.9 and n version 2.1.7. I have just installed n via `sudo npm install -g n` as described. If I run `n stable` it downloads the stable version but that's it, I am still using my old node version afterwards:
[code]
When calling this the first time (meaning when n downloads the binary) it looks like this
[code]

Any ideas and experience how I can act

[2017-05-26 12:47] GittiHab commented on #437
As it turns out, it didn't work because n puts the current version in the `/usr/bin` directory while I had another version in `/opt/local/bin/` from MacPorts.

[2017-05-26 12:47] #437 closed

[2017-05-30 20:00] caseyWebb commented on #400
For posterity, I experienced this because I installed yarn via brew, which in turn installed node via brew. Uninstalling brew's version of node (have to use `--ignore-dependencies` flag b/c of yarn) solved it.

[2017-05-31 11:03] sparcut opened #438 "Input file specified two times. + Error: invalid version"
### Description:

Windows 10 Home, when using `n stable` command (or other like latest etc.), `Input file specified two times` twice then `Error: invalid version`

###n version:

2.1.7

### How n was installed:

npm i -g n

### Steps to reproduce issue:

For me, just typing `n stable`, or something similar triggers this.

### Results received:

In CLI:
    Input file specified two times.
    Input

[2017-05-31 11:06] sparcut commented on #438
I'm stupid.

[2017-05-31 11:06] #438 closed

[2017-05-31 11:35] heliotpile opened #439 "Uninstall n from Windows"
I installed n on Windows without knowing it was not compatible at first. I would like to remove n from my machine, but it will not uninstall.

# Issue Template:

### Describe issue including what OS you are using
Windows 10

### Describe what version of N you have
2.1.7

### Describe how you installed N
npm install -g n

### Steps to reproduce issue _1.2.3_
1) npm uninstall -g n
2)  n --version

[2017-06-01 22:22] dfuentes77 opened #440 "getting extraneous errors when `npm ls -g`"
### Description
Latest OSX Sierra 10.12.5
n -V output: 2.1.7
Installed via n-install

### I have these versions installed

[code]

I run `npm ls --depth=0 -g`

and I get

[code]

[2017-06-01 22:53] dfuentes77 commented on #440
After installing AVN I now get:

[code]

[2017-06-02 19:47] Aladdin-ADD commented on #439
how did you do that? I get some errors when install n on windows 10.
![image](https://cloud.githubusercontent.com/assets/13050025/26742186/4333cca4-480f-11e7-8d96-34c965a5cb78.png)

[2017-06-05 05:33] heliotpile commented on #439
I made an Angular2 project and ran "npm install n" in it. I didn't get any errors, it just worked and now won't uninstall.

[2017-06-08 03:23] RifeWang commented on #439
@Aladdin-ADD I got the same error , have u solved that?

[2017-06-08 03:49] Aladdin-ADD commented on #439
@RifeWang no, seems it is incompatible with windows. u can try some other version manager, like nodist.

[2017-06-08 15:33] mdanetzky opened #441 "Uninstalling n on OSX"
I'm using MacOS Sierra and n 2.1.4 installed using homebrew. To have a clean uninstall I need to remove all installed versions of node. I can't do that, because n rm tells me that
[code]
It would be great do have an option to deactivate n (just like in nvm).

[2017-06-08 15:43] troy0820 commented on #441
Could you use the template so I can understand where everything is?  I honestly wouldn't use brew to install n, as it's not in the documentation.  Brew installs in /usr/local/Cellar and symlinks it.

[2017-06-08 15:53] mdanetzky commented on #441
I used:
[code]
Unfortunately every npm execution needs elevated privileges - which is the reason why I want to remove it. Nonetheless I can imagine, that a functionality to deactivate n might be useful in other scenarios too. For example while switching between various installations.

PS. I just used sudo rm to remove everything that resembled node, npm or node_modules from my system.

[2017-06-09 02:59] troy0820 commented on #441
Uninstall with brew and try to install n with the preferred method in the readme.  If you don't own the directory where n installs, you will either have to chown them or run sudo everytime you run it.

[2017-06-09 03:03] troy0820 commented on #440
Your npm install is at /Users/<username>/.n/lib

I would recommend using `npm install -g n` to install n.  The n-install doesn't default the install dir to /usr/local/lib like the npm install.  I would check that and see if that fixes your problem.

[2017-06-09 03:05] troy0820 commented on #439
I have to try to reproduce this problem on a Windows machine.  Can't do it from a linux/mac right now.

[2017-06-09 06:44] paolord commented on #439
@heliotpile did you install using "npm install -g n" or "npm install n" or did you do both, the statements in your comments says you did both.

[2017-06-09 17:14] dfuentes77 commented on #440
So on Mac, what base install of node/npm would you recommend in order to install `n` since I think by default it doesn't exist.  It's kind of a weird catch22 right?  I need node/npm to install `n`, a node version manager, to install different versions of node/npm ;)

[2017-06-09 17:26] troy0820 commented on #440
Install it with `https://nodejs.org/en/`.  That'll give you npm as well, and then you can install the node version manager `n` with `npm i -g n`

[2017-06-10 23:45] heliotpile commented on #439
@paolord I did both, although I did "npm install -g n" first.

[2017-06-12 13:41] ahmedelgabri opened #443 "error installing node version on macOS"
# Issue Template:

### Describe issue including what OS you are using

macOS Sierra 10.12.5

### Describe what version of N you have
2.1.7

### Describe how you installed N

`npm i -g n`

### Steps to reproduce issue _1.2.3_

`n latest` or `n <version>`

### Describe the results you received

[code]

### Describe the results you expected

To work without errors

### What version of npm you are usi

[2017-06-13 18:21] jessekinsman commented on #63
I agree with this issue it kind of makes this module useless

[2017-06-14 18:49] #392 closed

[2017-06-14 23:52] jordanjtidwell opened #444 "."
# Issue Template:

### Describe issue including what OS you are using

_i.e. I'm using MacOS Sierra_

### Describe what version of N you have
_i.e. n --version output: 2.1.4_

### Describe how you installed N

* _i.e. npm install -g n_
* _i.e. make install_

### Steps to reproduce issue _1.2.3_
_i.e._
1. n latest
2. couldn't pull latest from source

### Describe the results you received

_i.e. bla

[2017-06-15 01:05] troy0820 commented on #444
Nothing in issue.

[2017-06-15 01:05] #444 closed

[2017-06-15 01:07] troy0820 commented on #443
Try sudo.

it looks like you can't write to that directory.  You can either use sudo or you can chown that directory to not use sudo.  I would recommend chown'ing the directory.

[2017-06-15 15:54] vergenzt commented on #169
I know this is an older issue, but I thought it worth commenting: If you installed via the method mentioned in the docs,

then all you have to do is invoke `~/n/n-uninstall`. :)

I had forgotten I used this method to install `n` and happened to find that script as I was manually cleaning things up. Thought I'd pass along the reminder.

[2017-06-21 13:22] danielbayerlein opened #445 "Tag the latest version on GitHub"
Can you tag / release the latest version on GitHub (https://github.com/tj/n/releases), please?

[2017-06-21 14:30] troy0820 commented on #445
Latest tag pushed, I'll push the other tags that are between 2.1.4 -> 2.1.6 later and add some release notes as well.

[2017-06-21 17:31] danielbayerlein commented on #445
Thank you 👍

[2017-06-21 18:09] ThomasHuke commented on #443
讲真，层主一个说英语的人，看不懂提示， 我也是醉了，我都能看懂，我英语这么烂

[2017-06-21 18:10] #443 closed

[2017-06-22 20:29] yanuha commented on #355
This command helped my:
`n stable`

[2017-06-26 11:58] gaearon commented on #342
Find your `n`:

[code]

Then edit this file:

[code]

Remove these lines:

[code]

This fixes the issue. Of course it's not a permanent fix but at least it makes n usable for me again.
:-)

[2017-06-27 18:16] naktinis commented on #327
So it's impossible to fully uninstall `n`? I also get "Error: cannot remove currently active version". Am I missing something?

[2017-06-27 18:32] troy0820 commented on #327
@naktinis are you trying to uninstall n or a specific node version? It isn't going to let you uninstall a version that you are currently using.  If you want to uninstall global npm packages, use `npm unistall -g n`

[2017-07-01 03:47] troy0820 commented on #411
Issue resolved by PR #446

[2017-07-01 03:47] #411 closed

[2017-07-01 03:47] #445 closed

[2017-07-02 19:10] slhenty commented on #394
Had the same problem, solved it this way:

1. open finder and manually copy `/user/local/n/versions/node/<version>/bin/node` to `/user/local/bin`
1. open firewall options in system preferences and remove any existing entries for `node`
1. add a firewall option for `/user/local/bin/node`

Now, no matter how many times n switches versions, the firewall entry is intact, and no more 'Deny ... Allow' p

[2017-07-05 09:47] matt3224 opened #447 "n: command not found"
### Describe issue including what OS you are using
CentOS 7

### Describe what version of N you have
Latest Version

### Describe how you installed N

npm install -g n_

### Describe the results you received
Upon a clean install of n I received no errors but am unable to run n as it says 'command not found'

### Describe the results you expected
I expected it to work

### What version of npm you a

[2017-07-05 09:51] troy0820 commented on #447
Try sudo n

[2017-07-05 09:52] matt3224 commented on #447
Ok I tried this but it's the same:
[code]

[2017-07-05 09:55] troy0820 commented on #447
Check to see if n is in your PATH. Try `which n` And you should see where n is installed. If that is in your PATH, you should be good to go.

[2017-07-05 10:12] matt3224 commented on #447
I get this: `/usr/bin/which: no n in (/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/opt/cpanel/composer/bin:/usr/local/easy/bin:/usr/local/rvm/bin:/root/bin)`
how can i fix the path?

[2017-07-05 10:13] matt3224 commented on #447
Its ok i fixed it, thanks

[2017-07-05 10:13] #447 closed

[2017-07-07 10:15] Brototype commented on #400
i have this issue too. Here is my output for `brew list`:
[code]

for some reason `n` gives me that output
[code]

and when i go up / down with the arrow keys i get this:
[code]

[2017-07-10 18:54] ianlamb commented on #355
For anyone interested I was having this issue on Ubuntu 12.04 because I installed `n` with `sudo` and tried running it without `sudo`. Running it with `sudo` resolved the issue with the version selector interface and allowed me to switch.

[2017-07-11 15:08] zachfedor commented on #394
i just tried @slhenty's suggestion and it seems to have cleared up the issue

[2017-07-12 16:54] spencer-rig opened #449 "Some versions of wget don't pass is_ok"
# Issue Template:

### Describe issue including what OS you are using

I'm using a custom Linux distribution built by [Yocto](https://www.yoctoproject.org/). arm7l architecture. This includes `wget` from `BusyBox v1.24.1 (2017-06-18 18:12:16 PDT) multi-call binary.`, which does not recognize the `S` option.

[code]

### Describe what version of N you have

[code]

### Describe how you installed N

[2017-07-14 08:45] musicformellons opened #450 "How to install n using ansible"
I tried:
[code]
But the bash script causes errors:

fatal: [92.222.10.96]: FAILED! => {"changed": true, "cmd": ["curl", "-L", "https://git.io/n-install", "|", "bash"], "delta": "0:00:01.566699", "end": "2017-07-14 10:34:59.801651", "failed": true, "rc": 6, "start": "2017-07-14 10:34:58.234952", "stderr": "  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current\n

[2017-07-14 09:38] musicformellons commented on #450
I went the 'make' route and got it working using code from this:
`https://github.com/ansible-playbooks/n-node/blob/master/main.yml`

[2017-07-14 09:38] #450 closed

[2017-07-14 13:45] troy0820 commented on #431
Did you try to add any other packages that I listed above?  Docker images, especially alpine, have the necessary things you need to run n.  You must install them yourself.  You need curl, tar, zip, etc.  Try the docker image listed above.  I'm working on an alpine container that will be built from using mulistage builds that may help you.

[2017-07-17 19:53] trusktr opened #451 "Installed on Ubuntu 16.04.2 LTS, and `n <version>` doesn't change which node version I am using."
# Issue Template:

### Describe issue including what OS you are using

Ubuntu 16.04.2 LTS

### Describe what version of N you have

2.1.7

### Describe how you installed N

`npm i -g n` while on node v4.2.6 which is installed with default apt-get registry for my version of Ubuntu.

### Steps to reproduce issue _1.2.3_

[code]

### Describe the results you received

 It outputs `v4.2.6`, but I was

[2017-07-17 19:54] trusktr commented on #451
To work around the problem for now, I've symlinked /usr/local/bin/node to the version installed in /usr/local/n/

[2017-07-18 07:35] avrelaun opened #452 "prune: Uninstall all versions except latest & lts"
I use n to update easily my node version, and use only the latest stable and lts, although I switch between the two.

Keeping the old versions are not relevant in my use case, and it would be nice to be able to keep only the latest supported versions of each branch.

One possible way to achieve this today is:

`n prune && n lts && n latest`

But it downloads lts everytime and it forces n to latest

[2017-07-18 23:45] troy0820 commented on #452
Please use the issue template when filing issues:

The above command is going to prune whatever version is not active, and then download lts and activate it, then it will download latest and active latest.  So yes, it will force you to latest.  So if you had these versions installed `v4.6.0` `v6.0.0` and `8.0.0` and was on `4.6.0` doing what you did above would erase everything except 4.6.0 and th

[2017-07-18 23:45] #452 closed

[2017-07-18 23:56] troy0820 commented on #451
what is the output of which node? It seems the symlink didn't happen or the node you are using isn't the one from n.  I have a docker container that is Ubuntu:16.04 you can try at `troy0820/node-n:latest`.  I'm trying to reproduce your issue, but I'm not having any luck.

[2017-07-19 04:14] stephenmcm commented on #451
I'm getting the same result.
[code]

[2017-07-19 05:24] trusktr commented on #451
[code]

Hmmm, maybe that's not the default one? I think `sudo apt-get install nodejs` installs `/usr/bin/nodejs`, but I'm not sure about `/usr/local/bin/node`.

[2017-07-30 01:54] tommilimmot opened #453 "npm ERR! code MODULE_NOT_FOUND in node 7 and 8 after installing 4.1.2"
# Issue Template:

### Describe issue including what OS you are using

macOS Sierra 10.12.5

### Describe what version of N you have

`n --version` 2.1.7 (via Homebrew)

### Describe how you installed N

`brew install n`

### Steps to reproduce issue _1.2.3_

Fresh installation, no node/npm installed previously

1. `n stable`
    install : node-v8.2.1
    mkdir : /usr/local/n/versions/node/8.2.1

[2017-07-31 22:16] hk0i commented on #367
Seeing similar behavior on node `v7.10.0`,

Pressing the <kbd>up</kbd> key reveals the grep usage message as shown in the image above:

[code]

[2017-08-01 09:37] czl1378 commented on #326
@DiscoNova "Anything but Win32"... But his OS is 'Win7 - 64bit'! Did i have a misunderstanding of this?

[2017-08-01 14:42] MarkPieszak commented on #326
It's only for Mac/Linux OS, use nvm-windows which is the same thing but works on windows 32 or 64 bit, and you'll be all set. @czl1378

[2017-08-02 01:12] czl1378 commented on #326
@MarkPieszak Thank you, i will do this.

[2017-08-04 20:38] tbaustin opened #454 "Getting Error: invalid version 4.3.2 on windows 10"
I am running in windows 10 and using git bash. When I run `n 4.3` I get an output of `install : node-v4.3.2` and then underneath that I get `Error: invalid version 4.3.2`

[2017-08-09 05:09] piggyslasher opened #455 "Please change the name `N` to something easier to search for"
# Issue Template:

### Describe issue including what OS you are using

N/A

### Describe what version of N you have
N/A

### Describe how you installed N

npm install -g n

### Steps to reproduce issue _1.2.3_
1. n latest

### Describe the results you received
Well I spent almost a minute finding you. That's too long.

_i.e. blank screen_
### Describe the results you expected
Refer to previous.

#

[2017-08-09 14:16] OpaqueSky commented on #455
Windows 10 OS

Sent from Evangelical Orthodox Catholic iPad

हेईसेई 8 अग॰ 29 को अ 10:09 पर Vik Ramanujam <notifications@github.com> ने लिखा :

[2017-08-09 19:11] fedulovivan opened #456 "Redundant leading space in the result returned by 'n bin'"
https://github.com/tj/n/blob/4d67e79fc0b4f40f749d7904312d493982df2bdf/bin/n#L647

First of all thanks for a great tool!
Noticed that resulted string, returned by `n bin` command, contains a space at the end. In some cases like `ls "$(n bin 0.12.7)"` it may become crucial. Latter command will produce error `ls: /usr/local/n/versions/node/0.12.7/bin/node : No such file or directory`.

[2017-08-11 15:09] WillardJohn commented on #416
Note that as of 2017 [homebrew no longer changes the ownership](https://apple.stackexchange.com/questions/253404/how-does-homebrew-no-longer-need-ownership-of-usr-local) of this folder. You will have to do it yourself.

[2017-08-13 17:30] libeja opened #457 "Receiving error messages after upgrading node and npm"
OS version: MacOs Sierra 10.12.6
N version: 2.1.7
node version: 8.2.1
npm version: 5.3.0
Installed via:  npm install -g n

I used N to upgrade node and npm by running the following commands:
[code]
After installation when I run `npm list -g --depth=0`, I receive the following output with error messages:
[code]

Any guidance to help me correct the issue would be greatly appreciated!

Thank you!

[2017-08-16 00:30] leocaseiro commented on #453
Try reinstall npm:
[code]

If doesn't work still, try re-install node.
If you installed node with brew, try:
[code]
If you still having issues after that, try this [solution](https://gist.github.com/DanHerbert/9520689#solution)

[2017-08-18 09:01] qw3rtman commented on #455
I agree that finding `n` is no easy task if you Google search `'n'`; however, a Google search for `'n version manager'` (or `'n version'`) or a GitHub search for `'n'` results in this project as the first result. Alternatively, it may be helpful to access [npmjs.com/n](npmjs.com/n) instead.

I'm sorry this was inconvenient for you, but it's a bit late to change the project's name. I hope the above

[2017-08-18 09:01] #455 closed

[2017-08-22 08:50] KaisNeffati commented on #400
I've been facing this problem and i've resolve it following this steps :
Uninstall n, node and npm

[code]

==> Enjoy

[2017-08-23 07:46] goldenyz commented on #440
have the same issue and installed with npm i -g n:
[code]

[2017-08-24 15:22] kmsheng commented on #367
This also occur on node `v8.4.0`

[2017-08-24 22:46] dfuentes77 commented on #440
@troy0820 @goldenyz Same here,  I just uninstalled my whole n/avn setup and installed [LTS node from official site](https://nodejs.org/en/) (which btw, always requires sudo since it's installed as root) and I installed `n` and `avn` as recommended, and I still get similar output:

[code]

[2017-08-24 23:34] troy0820 commented on #440
Extraneous packages _even though the error is there_ doesn't impact N from being functional.  This is because some of these packages are either invalid or not in your parent's package.json.

You can read about it here [npm docs](https://docs.npmjs.com/cli/prune)

[2017-08-27 02:42] adamreisnz commented on #451
I seem to run into the same issue where `n` links the new version to `/usr/local/bin/nodejs` whereas my install has Node running from `/usr/local/bin/node`.

I've installed Node using the following:

[code]

[2017-08-27 02:54] adamreisnz commented on #451
May actually be a duplicate of https://github.com/tj/n/issues/381
I've found that indeed after restarting the shell it did find the correct Node version.

[2017-08-29 15:32] #457 closed

[2017-09-03 06:39] ivarni commented on #451
Restarting shell didn't work for me. It turned out that something (I'm guessing heroku toolbelt?) had added a new binary for me.
[code]
Removing that worked.

[2017-09-04 10:37] yun313350095 commented on #327
@naktinis  npm uninstall -g n

[2017-09-04 14:36] unipheas commented on #394
I just used @slhenty's suggestion and it works now.

[2017-09-08 12:59] sleekweasel commented on #451
I had something similar:

[code]

So I needed to rehash (or quit and re-run the shell) to fix this.

This was from doing the git clone version of install and then the foregoing n-based installs, all in one shell. Hard to think how to fix this, except perhaps by making 'n' check whether 'which node' changes value and printing a ***** BIG OBVIOUS WARNING ***** about it for stupid people like me. :)

[2017-09-13 08:14] jucajuca commented on #118
Why is the issue closed? This is still happening.
It is very annoying to re-install node.

[2017-09-13 08:44] jucajuca commented on #127
This should be in the readme section.

[2017-09-13 15:08] dancrumb commented on #431
@troy0820 adding `curl` helped - is there any way for n to sensible report that it's problems are due to an absence of `curl`, rather than just returning nothing?

[2017-09-13 15:12] dancrumb commented on #431
Looking at the source, it appears as if it's also supposed to support `wget` and only errors out if both are missing... is it possible that `wget` is actually _not_ supported?

[2017-09-27 02:25] wangzongxu opened #462 "Cannot find module 'internal/fs'"
# Issue Template:

npm ERR! code MODULE_NOT_FOUND
npm ERR! Cannot find module 'internal/fs'

### Describe issue including what OS you are using

 I'm using MacOS Sierra_

### Describe what version of N you have

When to switch the node version to 7.0.0(npm 5.3.0) and run 'npm install' or 'npm update' or 'npm cache clean' , npm do not work and throw a error Cannot find module 'internal/fs'.
When i

[2017-09-27 07:20] AntSworD commented on #462
Seems familiar with nodejs/node#9355

[2017-10-04 00:08] garuda commented on #367
Nothing on this huh? I'm seeing the same :( Uninstalled, reinstalled, nadda

[2017-10-04 00:20] garuda commented on #400
Worked for me!

[2017-10-05 13:00] andrelec1 opened #463 "[REQUEST] The last version its not compile for ARMv6 ..."
# Issue Template:

### Describe issue including what OS you are using

_ RASPBIAN STRETCH LITE - September 2017

### Describe what version of N you have
_ 2.1.7

### Describe how you installed N

_  npm install -g n

### Steps to reproduce issue _1.2.3_

1. n latest

### Describe the results you received

_ get Error: invalid version -v

### Describe the results you expected

I use a old raspberry

[2017-10-13 23:08] winneon commented on #100
Still happening. Has there been any progress on this?

[2017-10-16 10:23] rku4er commented on #100
I have noticed it works well if I run with sudo (Arch Linux)

[2017-10-19 08:58] janur commented on #394
I used the @slhenty's suggestion but I could not choose (probably just didn't know how) `/usr/local/bin/node` from firewall UI.
So I used also @beeman's cli suggestion
`sudo /usr/libexec/ApplicationFirewall/socketfilterfw --add /usr/local/bin/node`
That sorted it.

[2017-10-21 21:36] luisdelarosa commented on #381
Same - opening a new shell fixed this issue. Running Ubuntu Mate 16.04 on Raspberry Pi 3.

[2017-10-23 09:07] JohnRGee commented on #440
I was having the same issue and narrowed down some reproduce steps. I think the `extraneous` messages related to npm/node_modules are because n is simply overwriting with each install and not removing older files. When the npm dependencies change between versions, the left-over files from previous npm installations cause the error messages from some commands.

Reproduce steps with default location

[2017-10-23 15:30] noorzaie commented on #63
2+

[2017-10-25 15:17] Phyks commented on #445
Seems like tag 2.1.8 is not pushed to Github either :/ Thanks!

[2017-10-27 05:23] JohnRGee commented on #402
If you are now running npm out of your home folder, then reinstalling the global packages under your home directory might be the simplest way.

If is likely to be confusing at some point having things installed twice though, so removing the unwanted install is worth doing too. You can check for multiple copies of an executable using the `-a` option of the `which` command. e.g.
[code]
You can check

[2017-10-28 00:03] JohnRGee commented on #335
I got confused by this too when node was at 8.7. I have submitted a pull request which minimises code changes, and downgrades stable to an alias for lts in the documentation.

[2017-10-29 08:09] JohnPhoto commented on #394
@janur The magic command for navigating to the correct path is `cmd`+`shift`+`g` and insert path to navigate to.. This is the same for `finder` but works brilliantly even for these "find file" prompts.

[2017-11-01 04:59] matthew-andrews opened #468 "Version published on NPM does not match latest release on GitHub"
[code]

Also you can see here: https://registry.npmjs.org/n/-/n-2.1.8.tgz  — unzip and look in `./bin/n` to see `VERSION="2.1.7"`.  The version in the `package.json` is correct, however.

[2017-11-01 13:35] jgdev opened #469 "Update to latest release LTS"
I don't have idea how the system works and how fast is the version list updated but using the command `n lts` stills installing the version 6.11.5 while it should install current LTS version `8.9`.

[2017-11-02 22:31] vsemozhetbyt commented on #469
Fixed: https://github.com/nodejs/node/issues/16684

[2017-11-03 03:37] troy0820 commented on #469
Closing this issue. Thanks @vsemozhetbyt

[2017-11-03 03:37] #469 closed

[2017-11-03 11:39] jujis008 commented on #454
same issue, not sure what the reason about?

[2017-11-06 04:05] gussyboy commented on #423
Is there any update on this? Not `lts/carbon` is out it would be nice to run my version of node off my `.nvmrc` with both `n` and `nvm`

[2017-11-08 02:46] phongsakornp commented on #416
I did these
1) create `n` directory in /user/local
2) sudo chown -R $(whoami) /usr/local/n

now it's work.

[2017-11-13 18:33] marcelobart opened #471 "Put a description that it does not work on Windows"
# Issue Template:

### Describe issue including what OS you are using
I'm using Windows 10

### Describe what version of N you have
Not Applicable

### Describe how you installed N
Not Applicable

### Steps to reproduce issue _1.2.3_
1. Navigate to https://www.npmjs.com/package/n2
2. Not see a description that inform: It does not work on Windows!

### Describe the results you received
"My own flav

[2017-11-14 07:54] leakon commented on #394
Thanks to @slhenty , I fixed this issue.

I just opened Finder to /usr/local/n/versions/node/<version>/bin/node, copied node, then pasted to /usr/local/bin, clicked overwrite to replace the existing node.

Then issue was fixed.

Old node will cause Finder to crash when clicking the file, and several seconds later the Finder will recover by itself.

Hope it can help.

[2017-11-15 10:48] asadman1523 opened #472 "Npm not working when I switch to node 0.10.27 from higher node version"
# Issue Template:

### Describe issue including what OS you are using

I'm using Ubuntu 14.01

### Describe what version of N you have
2.1.7

### Describe how you installed N

npm install -g n

### Steps to reproduce issue _1.2.3_

1. sudo n
2. choose  node/9.2.0
3. npm -v   //5.5.1
4. sudo n
5. choose  node/8.2.0
6. npm -v   //5.3.0
7. sudo n
8. choose  node/0.10.27
9. npm -v   //not working

###

[2017-11-15 11:50] SyXuan commented on #472
remove /usr/local/lib/node_modules/npm
and copy npm directory

fixed here
https://github.com/tj/n/pull/473
https://github.com/tj/n/pull/473/commits/b38739edb15994cfe41c6bd04d47b70cb59be807

[2017-11-16 03:45] shaneknysh opened #474 "de"
# Issue Template:

### Describe issue including what OS you are using

_i.e. I'm using MacOS Sierra_

### Describe what version of N you have
_i.e. n --version output: 2.1.4_

### Describe how you installed N

* _i.e. npm install -g n_
* _i.e. make install_

### Steps to reproduce issue _1.2.3_
_i.e._
1. n latest
2. couldn't pull latest from source

### Describe the results you received

_i.e. bla

[2017-11-19 14:22] sikender commented on #471
The description is already there. You are visiting a different package. It is https://www.npmjs.com/package/n instead of https://www.npmjs.com/package/n2 .

[2017-11-20 02:28] sugizo opened #476 "npm ERR! Cannot find module 'internal/util/types' (tested with n lts and n latest)"
$ uname
Darwin
$ sudo npm install -g n
$ n --version
2.1.7
$ which n
/usr/local/bin/n
$ sudo -i
# node -v
v6.11.2
# npm -v
3.10.10
# npm cache clean -f
npm WARN using --force I sure hope you know what you are doing.
# n lts
# exit

$ sudo -i
# n
node/8.9.1
# node -v
v8.9.1
# npm -v
5.5.1
# npm cache clean -f
npm WARN using --force I sure hope you know what you are doing.
npm ERR! code MODULE_NOT_F

[2017-11-21 05:57] iamkdev opened #477 "need global and local option like rbenv?"
Can we have `global` and `local` like `rbenv` for ruby.

So that I can keep the latest version as global and local for old projects.

[2017-11-22 09:52] JohnRGee commented on #476
I was not able to reproduce starting from a clean install of node 6.11.2, but was able to reproduce by starting from a clean install of node 4.0.0 (and then using n to upgrade to 6.11.2, 8.9.0, 9.2.0).

[2017-11-22 16:14] mikestopcontinues opened #478 "`cp... permission denied` errors for `/usr/local/lib/node_modules/npm`"
### Describe issue...

On OSX 10.13.1, with n 2.1.7 and base node 9.2.0, when I run `n [version]`, I get a list of `cp` errors for the entirety of the `npm` directory.

The new node version is implemented, though the npm version remains at 5.5.1.

[code]

### Steps to reproduce issue...

1. n latest
2. <error>

### Describe the results you expected

Ideally, I always want the most recent version o

[2017-11-23 19:52] mohsinhijazee commented on #476
Try following:
[code]

In general, usually, it is about moving back and forth between npm versions.

[2017-11-24 21:04] JohnRGee commented on #478
The default install location on OS X is to a system folder where a normal user does not have write permissions by default. You can strike the same sort of issue when using npm to install global modules. You have three main options:
1) put `sudo` in front of the command to run as super user
2) change the ownership of the relevant directories to yourself
3) tell n to use a custom location where you

[2017-11-24 21:51] mikestopcontinues commented on #478
Interesting, @JohnRGee. I'd set `NPM_PACKAGES` in my .bash_profile (years ago now) to solve the same problem, but it looks like `NPM_CONFIG_PREFIX` is the new and more robust replacement. I agree though, `chowning` is the way to go!

Thanks!

[2017-11-24 21:51] #478 closed

[2017-11-25 08:26] gshireesh commented on #116
installing curl fixes problem for me.

[2017-11-25 21:46] JohnRGee commented on #476
The root cause is that `n` is overwriting the previous install. Sometimes the left over files from previous installs cause problems with npm.

Two possible work-arounds to get npm working again when this happens are:
1) manually remove node and npm, then rerun `n` with the desired version. e.g. with default install locations and write permission:
[code]
2) Reinstall node using nodes.org installer

[2017-11-27 11:43] D219 opened #480 "ChakraCore via n?"
Since n already support installing io.js, are there plans to also make [ChakraCore](https://github.com/nodejs/node-chakracore/releases) available via n?

[2017-11-28 18:28] earthbound19 commented on #169
At this writing I find the uninstall script at `~/n/bin/n-uninstall`.

[2017-12-07 00:07] sugizo commented on #476
yes, thanks, i took the 2nd option reinstall node (lts) and it works fine now

[2017-12-20 01:09] awidjaja opened #481 "[Request] cli command to set node version for specific project directory"
nice tool.

Is it possible to add a cli command to set node version for specific project directory, by specifying the version as parameter or by checking node version in the package.json file?

I think it can be implemented as link from the project's node_modules/.bin to the correct node binary.

[2017-12-20 07:42] blling commented on #439
how to uninstall it from linux?:)

[2017-12-27 03:24] howhow opened #482 "sudo n stable just return Error: invalid version (proxy related)"
# Issue Template:

### Describe issue including what OS you are using
ubuntu 14.04LTS

### Describe what version of N you have
$n --version
2.1.7

### Describe how you installed N
sudo npm cache clean -f
sudo npm install -g n
sudo n stable

### Steps to reproduce issue _1.2.3_
sudo n stable

### Describe the results you received
$ sudo n stable

  Error: invalid version

### Describe the results y

[2017-12-29 04:30] dexamphetamine opened #483 "Feature request: ayo support"
A keyword `ayo` argument that directs `n` to download versions of [ayo.js](https://github.com/ayojs/ayo) similar to iojs would be an excellent feature.

[2017-12-29 18:46] typemismatch opened #484 "How do I switch NPM versions?"
### Downgrade NPM version

I need NPM < 5.x for support with React Native, I can switch node just fine but I can't seem to downgrade NPM.

[2017-12-29 20:56] JohnRGee commented on #484
`n` installs the version of npm bundled with node as part of the node install. If you need a different version of npm, then downgrading (or upgrading) npm from the bundled npm version is a separate command. e.g.

`npm install -g npm@5.4.0`

When you switch node versions using `n`, you need to reinstall the desired npm version again.

[2018-01-03 11:22] yamsellem commented on #370
@creynders using `PATH=~/.npm-global/node/bin:$PATH` instead of `PATH=~/.npm-global/bin:$PATH` (_as documented in npm 'fixing npm permissions' [here](https://docs.npmjs.com/getting-started/fixing-npm-permissions)_) made the command `n` unavailable (_command not found_).

[2018-01-06 20:00] kassi commented on #481
@awidjaja I'm testing `n` now and created a small bash function:

    function load-node-version {
      if [[ -f .node-version ]]; then
        n $(cat .node-version)
      fi
    }
    function cd {
      builtin cd "$@"
      load-node-version
    }

When I create a file `.node-version` with content e.g. `8.9.4`, it will switch to the specified node version whenever I cd into this directory.
Ho

[2018-01-08 00:56] awidjaja commented on #481
@kassi , thanks, however, one can simply type 'n <version>' on the command line for the same result.

What I was looking for is an automatic redirection of 'node' command to the node binary in the right folder (for the version), skipping the default /usr/local/bin/node on the path, when node version is specified in the package.json file.

[2018-01-08 08:54] creynders commented on #370
@yamsellem no idea, it did the trick on my system. There's so many things (config options, path settings, etc) that can conflict it's really hard to find a panacea I think

[2018-01-09 18:20] techwes commented on #394
I tried the same fix mentioned above but using `cp` from the Terminal instead of manually in the Finder. This did not work and had the same issues as the copy n does on its own. A symptom of the issue seemed to be the timestamps being changed on the copied version of node. So I looked into it some more and `cp` has a `-p` option
[code]
([man page](https://ss64.com/osx/cp.html))

I tried doing the

[2018-01-11 20:09] brandondrew commented on #416
Is there any reason these steps are not in the README?  I'd be happy to add them and submit a PR.

[2018-01-22 04:11] drkale44 commented on #463
Hi

[2018-01-22 21:28] JeremyPlease commented on #394
I was looking for a quick way to fix this every time I switched versions with `n`. So, I used the info from @slhenty, @beeman, and @techwes (thanks!) to create a single command:

[code]

[2018-01-22 23:10] isiahmeadows commented on #394
@JeremyPlease *that* looks like it *should* work moved into `n` itself... (Not involved with the project, so my opinion is about 90% irrelevant here.)

[2018-01-23 12:27] Rahul-Bisht commented on #476
so, i installed node -v 8.9.4 via nvm & noticed that it was not installing npm in node_modules folder.  so, while it was downloading npm -v 5.6.0, i made a copy of zip and manually put it inside node_modules.
it worked for me on win10 machine.

it will download new npm at C:\Users\[userName]\AppData\Roaming\nvm\temp\ , you should copy it to
C:\Users\[userName]\AppData\Roaming\nvm\v8.9.4\node_modul

[2018-01-23 17:07] mmatalia commented on #430
sudo -E n latest
worked for me. -E option for sudo passes environment variables for current user

[2018-01-23 20:51] scottsword commented on #484
@JohnRGee To be clear, you shouldn't have to re-install a version of npm every time you switch node versions. Once you install a different version of npm than the one that shipped with that node version it should remain in place *for that version*. So if you switch from node 6 to 8 you won't get the npm version that you installed locally to 6, but when you go back to 6 it won't reset the version o

[2018-01-23 20:51] scottsword commented on #484
This should be closed.

[2018-01-23 21:02] #484 closed

[2018-01-23 21:03] #474 closed

[2018-01-23 21:04] #441 closed

[2018-01-23 21:04] #471 closed

[2018-01-23 21:06] #404 closed

[2018-01-25 23:26] shaneknysh commented on #474
tried to go back and see what I experienced to update this. I have no memory of opening the issue and what I was started to type with 'de'

[2018-01-27 22:08] JohnRGee commented on #481
This request overlaps with #477. The example there is `rbenv`, which shims all the ruby related commands to allow a local override when in that directory.

[avn](https://github.com/wbyoung/avn) supports n, and like the approach suggested by @kassi is changing the installed version of node when you change directory.

If you only want to launch node directly, a script which checks for the local vers

[2018-01-30 07:28] JohnRGee commented on #481
Of possible interest (and uses nodemodules/.bin as suggested by @awidjaja): https://www.npmjs.com/package/node

[2018-01-30 19:24] drschwabe commented on #405
@ljharb dunno about that, cause that can take a while especially if you have said binary modules which need to recompile.   It would take away from the convenience / speed of using n to switch versions so painlessly as is now (aside from, well - this issue of global modules).

Maybe for now could do a flag ie:

```n 8 -rg```

where `-rg` is for 're-install global modules'; in this example you swit

[2018-01-30 22:46] 00dani opened #486 "Simple command to switch back to the system installation of Node"
Currently once you use `n`, you're stuck with `n`-installed versions of Node unless you go through and remove its binaries from your `PATH` manually. However, you'll almost invariably have a version of Node installed systemwide, using your distribution's package manager, since you need Node running to start using `n`.

There should be a command - say, `n system` - to have `n` clear its Node binary

[2018-01-31 00:54] awidjaja commented on #481
@JohnRGee , thanks for the link, this will meet my need.

Although in my opinion, this is the domain of n which already provides ability to install several node versions at the same time, and basically just need a command to add a link to the right node binary in the node_module/.bin inside the project directory.

I will close the issue.

[2018-01-31 00:54] #481 closed

[2018-02-02 00:04] #476 closed

[2018-02-05 20:50] drschwabe opened #487 "Desktop shortcuts or hotkey commands for global node apps installed via n (Linux)"
Having difficulty getting my system to run any shortcuts for global node apps installed via n

In a nutshell, you can't create a desktop shortcut to run a global node app
(without some solution, for which maybe we can pinpoint in this thread)

For example, I have electron installed so to launch it from terminal I can type `electron`

But if I create a desktop shortcut entry or try to use Ubuntu's

[2018-02-05 21:04] drschwabe commented on #370
What are the defaults?  Ie- how do I undo :

[code]

(on my system, can no longer uninstall global modules after doing that; presumably cause they're no longer to visible to "n" after apply this)

[2018-02-06 07:37] LeoCecilia commented on #327
you use the command to uninstall node
[code]

[2018-02-06 18:16] drschwabe commented on #370
To answer my own question above,  just set the npm config set prefix, N_PREFIX, and PATH as indicated in the n readme (under the Installation/n-install area) where it says `sets both PREFIX and N_PREFIX to $HOME/n, installs n to $HOME/n/bin, modifies the initialization files of supported shells to export N_PREFIX and add $HOME/n/bin to the PATH`

[2018-02-07 04:33] reviewher opened #488 "pin npm version when switching node versions"
`npm` 5.x have been causing issues with various modules, so locally I force `npm` 4.3.0.  Every time I switch to node 8 or 9 it installs some `npm` 5 version.  Is there a way to switch node versions with `n` without touching the current `npm` version?

[2018-02-10 05:09] trusktr commented on #169
That's not official. `n` should include something like this, to make it clear _exactly_ how to remove n and **all** versions installed by n, leaving only (for example) the `node` installed by Ubuntu's `apt-get`.

Basically, if I run

[code]

then, I simply want to go back to the state I had before as if I had ran only

[code]

. So, if I intuitively try to do that like this:

[code]

So (officiall

[2018-02-10 05:11] trusktr commented on #169
Seriously, this sort of thing is annoying.

[2018-02-18 05:24] JohnRGee commented on #486
For interest, is this effectively to do an uninstall of `n` and the binaries it installed, or to allow switching back and forth between system and `n` managed versions?

[2018-02-18 05:42] JohnRGee commented on #488
`n` installs the version of `npm` bundled with `node`. There is not current a way to disable this.

(Discussed in #210.)

[2018-02-18 06:21] JohnRGee commented on #483
There are not any releases listed on github for ayo, and the download section in the README says `To be written`. No versions to manage currently?

[2018-02-18 22:36] 00dani commented on #486
Both, really? I think the latter should be supported without effectively uninstalling `n` itself in the process, to ensure it's easy to restore an `n`-managed version later on,  but `n` should also be easy to uninstall if that becomes necessary.

[2018-02-25 07:36] JohnRGee commented on #488
Implementation speculation: excluding npm might be reasonably straightforward if the install was done using rsync (using --exclude) rather than cp, but not sure about how compatible that would be.

[2018-02-27 21:51] petrgazarov opened #490 "Installation of new version fails "dyld: Symbol not found""
Hi there, after I installed anaconda python using brew, `n` stopped working. Any ideas appreciated.

### Describe issue including what OS you are using

I'm using MacOS Sierra 10.12.5

### Describe what version of N you have
2.1.7

### Describe how you installed N
Via `yarn`, previously tried with `brew` with same result

### Steps to reproduce issue
- install anaconda distribution of python
- thi

[2018-02-28 11:46] dandv commented on #451
Same problem still, as of March 2018 (well, it's the same `n` version, 2.1.7). Restarting bash did fix it.

[2018-03-02 02:26] yeheshuah commented on #482
Have the same problem.

[2018-03-05 12:13] zawsx opened #491 "Unsupported platform for n@2.1.8: wanted {"os":"!win32","arch":"any"} (current: {"os":"win32","arch":"x64"})"
# Issue Template:

### Describe issue including what OS you are using
Install seems confused by the Win32 subsystem on my x64 OS? (W10 Pro x64)
npm is in use and working otherwise.
### Describe what version of N you have
2.1.8
### Describe how you installed N
npm install -g n
### Steps to reproduce issue _1.2.3_
npm install -g n
### Describe the results you received
npm ERR! code EBADPLATFORM
npm

[2018-03-07 17:22] ryanmtaylor commented on #169
why not have "system" as a choice for nodes within n?

[2018-03-12 18:10] jhr007 commented on #491
Duplicate: https://github.com/tj/n/issues/435
tl;dr
`n` doesn't support windows, or at least not x64 but brodybits on that issue mentioned https://github.com/jasongin/nvs

[2018-03-12 18:41] zawsx commented on #491
Thanks for the response, appreciated! Wish I'd realised that Windows wasn't supported - maybe make the error message clearer?

[2018-03-12 18:41] #491 closed

[2018-03-14 04:56] nkarri commented on #482
Were you able to resolve it? I'm now having same error.

[2018-03-14 05:41] nkarri opened #492 "sudo n stable Error:: invalid version"
# Issue Template:

### Describe issue including what OS you are using
I'm using MacOS Sierra_10.12.6

### Describe what version of N you have
n --version output: 2.1.7

### Describe how you installed N
npm install -g n

### Steps to reproduce issue
1. sudo n stable

### Describe the results you received
```Error: invalid version```

### Describe the results you expected
I was supposed to see the s

[2018-03-14 10:27] JohnRGee commented on #492
I was not able to reproduce your issue (also on Mac), but suggest you try lts instead of stable.

[code]

[2018-03-16 01:04] jeffora commented on #484
@scottsword I'm not seeing this behaviour. Switching between two different versions of node 6, I get npm@3.10.10 every time, even after installing npm@latest (5.7.1) in both versions of node. If the expected behaviour is that npm global installs persist, is this a bug?

[2018-03-16 15:01] scottsword commented on #484
@jeffora when you install something globally in node its "global" to that particular installation of node. Thats all I was saying. Sounds like you have similar major versions that ship with the same base npm version.

[2018-03-21 02:20] watsoncj commented on #416
I also had to run `sudo chown -R $(whoami) /usr/local/lib/node_modules/`

[2018-03-22 20:25] ericpolkadoc opened #493 "/"
# Issue Template:

### Describe issue including what OS you are using

_i.e. I'm using MacOS Sierra_

### Describe what version of N you have
_i.e. n --version output: 2.1.4_

### Describe how you installed N

* _i.e. npm install -g n_
* _i.e. make install_

### Steps to reproduce issue _1.2.3_
_i.e._
1. n latest
2. couldn't pull latest from source

### Describe the results you received

_i.e. bla

[2018-03-24 18:06] guido4000 commented on #381
It might help to remove the pre-installed version of node:
`sudo apt remove nodejs`

[2018-03-24 18:07] guido4000 commented on #451
It might help to remove the pre-installed version of node
`sudo apt remove nodejs`

[2018-03-27 15:27] jroporto commented on #476
In Windows 7, I have solved the problem deleting the folders:

C:\Users\youruser\AppData\Roaming\npm
C:\Users\youruser\AppData\Roaming\npm-cache

[2018-03-30 04:12] eldyvoon opened #495 "No effect switching to lower version on ubuntu 16"
# Issue Template:

### Describe issue including what OS you are using
I'm using Ubuntu 16 LTS

### Describe what version of N you have
I'm using n version 2.1.7

### Describe how you installed N

npm install -g n

### Steps to reproduce issue _1.2.3_
_i.e._
1. sudo n 6.9.2

### Describe the results you received

Nothing

### Describe the results you expected

I was supposed to see the node version

[2018-03-31 01:53] JohnRGee commented on #495
Perhaps there is more than one copy of node installed, and just typing `node` is not running the one managed by `n`. Try
`which -a node`
to see the locations for `node` with your path.

[2018-04-12 07:51] ninapavlich commented on #453
I tried the steps @leocaseiro suggested, but that didn't work for me. Oddly re-installing it from the GUI worked (https://nodejs.org/en/download/) -- which installed version Node v8.11.1, NPM 5.6.0.  For reference I'm on OSX 10.12.6.

Just wanted to add this comment in case it helps others resolve this issue!

[2018-04-14 14:31] #495 closed

[2018-04-19 23:08] davej commented on #486
See #173.

[2018-04-20 13:41] jjdltc commented on #394
it appears to be solved after:
- Update n to `n@2.1.7`
- Check Firewall preferences and delete one `node` entry that appears to be corrupted (Does not refer to any file when try to check on finder)

Could be a early version of `n` that create a bad references in the Firewall ¿?

In any case, I didn't get problems with node versions (`n`) now.

[2018-04-24 15:09] earthbound19 commented on #169
Why on earth is this issue closed? It is clearly not resolved satisfactorily.

[2018-04-25 17:25] OpaqueSky commented on #492
Can I see a pic ?

[2018-04-25 17:55] ycmjason opened #496 "feature request: `n -`"
I am switching between two different version of node frequently and would be nice if there is some command like `n -` which switches to the previous node version.

Prior art:
- `cd -`
- `git checkout -`
...

[2018-04-26 03:05] waffledonkey commented on #492
certainly

![image](https://user-images.githubusercontent.com/12648350/39283617-eb906d34-48c3-11e8-8c66-9727dee238db.png)

[2018-04-27 15:02] projenix commented on #492
Yes same problem, stable or lts or latest all give invalid version.

[2018-04-29 00:09] JohnRGee commented on #492
@waffledonkey thanks. I had assumed `n --lts` would be broken too.

Someone with the problem, does `sudo n --lts` work, or is broken when run with sudo?

[2018-04-29 02:10] waffledonkey commented on #492
@JohnRGee `sudo n --lts`, `stable`, etc produces no output whatsoever

[2018-04-29 10:27] JohnRGee commented on #492
Related info, there were changes in `curl` in the 29 March release of macOS Sierra 10.12.6:
https://support.apple.com/en-us/HT208692

[2018-05-01 01:46] chengjaun commented on #116
I have the same problem, follow the answer of installing the curl, but I still get the same error.what can I do

[2018-05-01 05:26] cedric25 opened #497 "Wrong order with node/10.0.0"
### Describe issue including what OS you are using
I'm using macOS High Sierra

### Describe what version of N you have
n --version output: 2.1.7

### Describe how you installed N
npm install -g n

### Steps to reproduce issue
1. `n latest` which would install node/10.0.0 at the time of writing
2. Install other versions, ex: `n 8.5.0` and `n 9.9.0`
3. List installed versions: `n`

### Describe the

[2018-05-05 14:04] glenjamin commented on #394
I ran into this just now was able to fix it by forcibly signing the node binary as discussed in this stack overflow answer. https://apple.stackexchange.com/a/150711/14941

[code]

[2018-05-07 01:34] adrianlyjak commented on #367
same thing on macos 10.11.6, n version 2.1.7. Using up and down arrows to select version just outputs `grep` help documentation:

[code]

[2018-05-07 13:29] #454 closed

[2018-05-07 14:20] thesixonenine opened #500 "can't install n"
I'm using MacOS Sierra
I want install n like this: npm install -g n,  but it's not work

Simple:~ simple$ npm install -g n
npm ERR! Darwin 16.7.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "n"
npm ERR! node v4.4.7
npm ERR! npm  v2.15.8
npm ERR! path /usr/local/bin/n
npm ERR! code EACCES
npm ERR! errno -13
npm ERR! syscall unlink

npm ERR! Error: EACCES: permission deni

[2018-05-07 19:41] troy0820 commented on #500
The first command doesn't work because you don't have permission to install in that location _(chown directory will fix that or using sudo)_

It looks like it linked it in the `sudo npm install -g n` command.
I'm more interested in this:
[code]
It looks like webpack doesn't like something.  Did you try to `n latest` to see if the install worked?

It also looks like you already have node installed

[2018-05-07 19:50] troy0820 commented on #497
Closing issue from merged in PR #498

[2018-05-07 19:50] #497 closed

[2018-05-07 21:47] jaredreich opened #501 "Node version list isn't numerically sorted correctly"
![image](https://user-images.githubusercontent.com/8563847/39726921-e3c15926-520d-11e8-814c-15d855b05a1d.png)

In this example, 10.0.0 should appear below 9.2.1

[2018-05-07 22:05] troy0820 commented on #501
This issue is resolved in the publication of `n 2.1.9` from PR #498 which is the latest on npm.

[2018-05-07 22:05] #501 closed

[2018-05-07 22:05] #493 closed

[2018-05-07 22:05] troy0820 commented on #493
Closing because the issue doesn't seem to exist.

[2018-05-07 22:08] troy0820 commented on #468
The latest version is now 2.1.9 on github/npm. Closing.

[2018-05-07 22:08] #468 closed

[2018-05-08 01:25] thesixonenine commented on #500
thank you!

The output of these two commands looks like this:

Simple:~ simple$ n latest
mkdir: /usr/local/n/versions/node: Permission denied
mkdir: /usr/local/n/versions/io: Permission denied

     install : node-v10.0.0
       mkdir : /usr/local/n/versions/node/10.0.0
mkdir: /usr/local/n/versions/node/10.0.0: Permission denied

  Error: sudo required

Simple:~ simple$ sudo n latest
Password:

[2018-05-08 14:02] troy0820 commented on #500
That should get you the latest node version currently at v10.0.0.

[2018-05-09 01:09] #500 closed

[2018-05-09 05:56] hk1997 commented on #482
Hi, I was facing the same issue while running under a proxy connection. Removing proxy settings and running under normal internet solved the issue.

[2018-05-09 07:45] kirisu opened #502 "Listing of installed versions is broken"
# Issue Template:

### Describe issue including what OS you are using
macOS Sierra 10.12.6.
#498 seems to have broken being able to list/switch between versions.

### Describe what version of N you have
2.1.10

### Describe how you installed N
N is installed via Homebrew.

### Steps to reproduce issue _1.2.3_
1. `n`

### Describe the results you received
[code]

### Describe the results you expect

[2018-05-09 12:44] apertureless commented on #502
Got the same error

[2018-05-09 15:16] troy0820 commented on #502
Can you do a `which node` and a `which n` because testing this in a docker container, it works.  I didn't install it through brew which I'm not sure why that would be a problem but the linking of certain things with brew complicate things as well.

[2018-05-09 15:25] apertureless commented on #502
[code]

[2018-05-09 15:43] troy0820 commented on #502
If you do a sort --help do you see the option for -V  ` -V, --version-sort          natural sort of (version) numbers within text`

Your sort version is older so I'm assuming they put the -V option in the newer version of sort.  The reason why we went to this is because when you list the versions with n, it is looking at the folders you have stored where node "lives" hence the `node/10.1.0` so whe

[2018-05-09 21:51] stsvilik commented on #502
Same here, had to remove `V` option from `2,2V` to at least list the versions

[2018-05-10 06:19] kirisu commented on #502
Can confirm that pointing to a newer version of sort patches the issue.

[2018-05-10 13:16] troy0820 commented on #502
Can I close this issue? @kirisu @stsvilik @apertureless

[2018-05-11 02:04] stsvilik commented on #502
@troy0820 How can you close an issue which is still in effect? I can replicate this problem all the time on macOS Sierra (10.12.6) where sort version is `5.93`. On High Sierra where sort is upgraded to `2.3-Apple (99)` your changes work fine. My suggestion is to keep script backwards-compatible and inspect version of `sort` before using unsupported flag.

[2018-05-11 02:10] troy0820 commented on #502
`n@2.1.10` is where the issue is.  The suggested solution of upgrading sort to fix the version listing issue doesn't come with a feature that isn't supported in a different version of this package.  The person who put in the issue confirmed that the issue is resolved with upgrading `sort`.  If you don't want to upgrade sort and want the versions to not be in "order" you can use `n@2.18` or earlier

[2018-05-11 02:15] stsvilik opened #503 "Feature Request: Add proxy support (for many of us behind the firewall)"
Would it be possible to add an option to specify a proxy when running `n`. You already doing it for `$HTTP_USER` and `$HTTP_PASSWORD`, so just need to extend `curl` params to accept `HTTP(s)_PROXY` as well.

Please :)

[2018-05-11 02:26] stsvilik commented on #502
@troy0820  :/ I would still tailor towards backwards-compatibility and retain "no surprises" policy since this issue will come up over and over again for unprepared users. Yes, I can upgrade `sort` (or rather whole OS), but don't believe this to be the right solution.

[2018-05-11 08:47] apertureless commented on #502
Okay, stupid question but how to upgrade sort on macosx without upgrading the whole os?

I have `coreutils` installed with `gsort` however aliasing does not work for `n`.

[2018-05-11 17:33] bill-bishop commented on #492
I'm having this issue as well

[2018-05-11 18:53] troy0820 commented on #502
@stsvilik I agree with you 100%.  The problem is that the newer version will be published with the sort issue from the previous version.  If I go forward with a newer version of this that fixes this _(but not fix it sort issue where `sort -k 1,1 -k 2,2V -t /` fixes it )_ I will end up with a change between versions that are not consistent.  The best I can do is back port the changes to the older v

[2018-05-12 03:16] waffledonkey commented on #492
I didn't get that far into it, but the methods like `install_lts()` (shown below) calls `install $(display_latest_lts_version)` which doesn't actually `"return"` or `"echo"`.  It's been about 20 years since I did any serious Bash programming, but I thought you had to do one or the other. :(

[code]
[code]

and here's the equivalent with the variables substituted
[code]
if you dump that straight in

[2018-05-12 20:09] stsvilik commented on #502
@troy0820 I have a strange feeling that if `n` was written in JavaScript we wouldn't be wasting time defending our decisions :). Anyway - additional documentation and back-porting all sounds better than broken, so I'll let you do what you need do 👍

[2018-05-13 07:51] JohnRGee commented on #502
The sort could be done the old numeric key way by separating out the prefix for the sort, for example by changing the slash to a dot and back again. Keeping it simple:

[code]

[2018-05-18 18:44] backspaces commented on #502
Add me to the list .. n breaks with

Error: no installed version

I'd upgrade sort if there is an easy way to do it. I *don't* want to install the entire gnu ecology like the article referred to above suggests!

[2018-05-18 18:49] troy0820 commented on #502
Closing issue because of the new version `2.1.1` fixes the sort issue.  Upgrading n will fix this issue.

[2018-05-18 18:49] #502 closed

[2018-05-18 21:55] backspaces commented on #502
Sweet, thanks.

[2018-05-18 23:08] ilovezfs opened #505 "latest stable? 2.1.10 or 2.1.11"
I cannot tell based on
https://github.com/tj/n/releases/latest
and
https://github.com/tj/n/releases

[2018-05-19 17:41] troy0820 commented on #505
The release wasn’t published but the latest is 2.1.11 which is on npm.

[2018-05-19 17:41] #505 closed

[2018-05-19 23:19] ilovezfs commented on #505
Thanks @troy0820! Volà https://github.com/Homebrew/homebrew-core/pull/28039

[2018-05-21 08:10] Pyroseza commented on #492
I get this exact same error on CentOS

[2018-05-23 17:44] artemgurzhii opened #506 "Incorrect sorting with Node@10.1.0"
# Issue Template:

### Describe issue including what OS you are using
I'm using MacOS Sierra

### Describe what version of N you have
`2.1.7`

### Steps to reproduce issue
1. n latest

### Describe the results you received
[code]

### Describe the results you expected
[code]

[2018-05-23 19:53] troy0820 commented on #506
Upgrade to the latest version of n, `2.1.11`.  The sorting was an issue.

[2018-05-24 17:41] troy0820 commented on #506
Did that solve your issue @artemgurzhii ?

[2018-05-24 18:48] artemgurzhii commented on #506
@troy0820 Yes, everything is working great! Thank you for your help, and sorry for taking your time)

[2018-05-24 18:48] #506 closed

[2018-05-24 19:31] troy0820 commented on #506
Not a problem. Thanks for closing the issue.

[2018-05-25 22:10] xargr commented on #416
@phongsakornp special thanks! works for me!

[2018-05-26 00:43] dexamphetamine commented on #483
Ah, ok. Thanks for taking a look!

[2018-05-26 00:43] #483 closed

[2018-06-01 03:51] changjunhao opened #508 ""npm install xyz" produces "asyncWrite is not a function""
# Issue Template:

### Describe issue including what OS you are using

I'm using CentOS

### Describe what version of N you have
--version output: 2.1.11

### Describe how you installed N

npm install -g n_

### Steps to reproduce issue _1.2.3_
_i.e._
1. n latest

### What version of npm you are using

 npm --version output: 6.1.0

### Additional information you deem important (e.g. issue happens

[2018-06-01 04:13] troy0820 commented on #508
I tried this in a docker container and reproduced the same error.  I looked around within npm because this isn't an N issue.  I found these issues: [pna.nextTick](https://github.com/npm/npm/issues/20848) and [this one](https://github.com/npm/npm/issues/20822).  I'm going to close this issue but the solution I had was to use node 8.11.2 with npm version 5.6.0 to solve this issue.

[2018-06-01 04:13] #508 closed

[2018-06-01 06:30] Devric commented on #477
this is one work around im start to use, but will be cool to be implemented into N

[2018-06-04 08:01] Pyroseza commented on #492
I can’t get that installed.

Seems like a lot of my problems are proxy related too.

[2018-06-05 11:55] ozjd commented on #508
Had the same issue, reverting to stable, updating npm, then upgrading node to latest worked for me.

See https://github.com/npm/npm/issues/20848#issuecomment-394680906

[2018-06-08 20:04] iarna opened #510 "Bug: Upgrading to 10.3.0+ from older versions mangles npm installation"
We've been getting reports of [strange errors](https://npm.community/t/asyncwrite-is-not-a-function-at-node-10-3-0-and-npm-6-1-0/193) after at npm that seem to only have the use of the `n` node version manager in common.

Looking through the source, I _think_ `n` copies the new version into place without removing the existing one? That is: https://github.com/tj/n/blob/master/bin/n#L490

If so, the

[2018-06-11 14:04] troy0820 commented on #510
I've been trying to find the best way to solve this issue.  Because `node` ships with `npm` whatever version you would switch to, it would bring the version of npm that you need.  The flatten dependency thing puts a major issue with the old functionality.  I don't wanna create a fix that will break the old versions of how it would handle npm.  Because this is node version manager, I don't want the

[2018-06-11 14:41] JacobJT commented on #394
@jjdltc I had only just started using n with version 2.1.11 and experienced this issue, so it is not strictly related to old versions of n. I did have node installed prior to using n to manage versions, so it is possible that the issue arises from having any previous version of node installed that wasn't first installed with a newer version of n?

[2018-06-11 14:56] saraf opened #511 "n now works on windows 10 (using windows subsystem for linux)"
# n now works on Windows 10 (Windows Subsystem For Linux):

If enough people find that this works for them, the docs / README.md could be changed to reflect this.

### Windows version

_Windows 10 Home, Version	10.0.17134 Build 17134_

### Version of N
_n --version output: 2.1.11_

### How I installed N
Start up windows subsystem for linux bash prompt by typing Win key followed by `wsl`
Then, inst

[2018-06-11 18:06] troy0820 commented on #510
Closing issue and publishing a new version `2.1.12` from PR #470 to fix issue listed above.

[2018-06-11 18:06] #510 closed

[2018-06-11 18:11] troy0820 commented on #440
Issue closed from merging PR #470.

[2018-06-11 18:11] #440 closed

[2018-06-11 18:12] troy0820 commented on #462
Issue closed from merging PR #470.

[2018-06-11 18:12] #462 closed

[2018-06-12 08:56] coolkat64 commented on #490
Hey ! Having the same issue, there seem to be a major problem involving nvm, npm, anaconda and xcode. All 4 are showing countless issues and fixing one creates more. I can't even uninstall everything and start again because they just won't, but then they don't work anymore.

This is now a rage thread.

[2018-06-13 16:21] Mesieu commented on #374
@Olgagr  did you figure it out?
I have the same issue.

[2018-06-14 09:48] Norbz commented on #508
@ozjd linked solution worked for me
Seems to be a bug with 'n' indeed. Node 10.3 and 10.4 have the same issue

[2018-06-19 09:49] apretto commented on #367
I've had this same problem, and figured out that it's an installation issue.

You should be able to fix this problem by making sure that `$N_PREFIX/bin` is present in your `PATH`, and is listed before any system wide Node installation.

Maybe you also need to have `$N_PREFIX/lib`, `$N_PREFIX/include`, and `$N_PREFIX/share` on your path as well. I got `n` to work without adding them, but I'm not 10

[2018-06-21 19:14] ehaliewicz commented on #482
This is expected.  Node isn't stable so they just removed it

[2018-06-21 22:16] dandv commented on #127
It's not that simple. See #169.

[2018-06-21 22:22] dandv commented on #327
See #169 for workarounds. This issue was raised more than 4 years ago.

[2018-06-22 12:43] mateodelnorte commented on #508
I am still getting this issue.

[2018-06-22 12:48] rosshadden commented on #508
@mateodelnorte Did you try what @ozjd linked above? It worked for me.

[2018-06-22 13:00] mateodelnorte commented on #508
I was actually able to revert back to lts, upgrade n, switch to 10, and
then publish.

Thanks!

On Fri, Jun 22, 2018, 7:49 AM Ross Hadden <notifications@github.com> wrote:

[2018-06-25 08:36] deksden commented on #508
It was issue with n: https://npm.community/t/asyncwrite-is-not-a-function-at-node-10-3-0-and-npm-6-1-0/193

[2018-06-29 20:53] JacobJT commented on #510
@troy0820 switching version still seems to switch the npm version to a previous version as well. Is there a way to stop it overriding your existing version? Particularly it's the audit feature I feel I'm missing when it swaps my version - found a lot of vulnerabilities I was unaware of because I hadn't been seeing that vulnerability output, didn't realize I was getting put back to an outdated vers

[2018-07-01 05:04] JohnRGee commented on #496
This has been discussed in past, and in fact matching functionality was removed at that time.
See  #184

[2018-07-01 08:43] JohnRGee commented on #490
`anaconda` and `brew` can both install different versions of system tools.

The first error looks like it is coming from `curl`, and the second error looks like coming from `awk`, both of which are called by `n`. You can do a simple check whether those two tools are still even working with `curl --version` and `awk --version`, and where they are installed using `which -a curl` and `which -a awk`.

[2018-07-02 11:44] JohnRGee commented on #423
Working on this. Wondering about supporting 8.x and the like too which are also stored in their own latest-* folders?

[2018-07-03 11:11] JohnRGee commented on #198
I have been confused by lack of output too, especially when intending to restore the version of npm included with a version of node (and nothing happened because that node was already installed).

Changing the activate routine to always produce output and using same format as during download could look like this.

[code]

[2018-07-03 13:46] ell10t commented on #511
Worked for me, I used `n-install` at first, but that wouldn't work being directly called through `bash.exe`.

[2018-07-04 06:30] Andrewsopoku commented on #508
Use sudo when switching node version with n
example `sudo n 10.4.1
`

[2018-07-04 08:29] JohnRGee commented on #252
I wonder if is better to use the highest already installed version, or to look up the latest version number on mirror? The latest installed version would save a lookup and avoids failing if local is not latest, but the mirror version is more consistent with install, and how codenames (like `lts`) behave with `bin` and `use`.

Either would be a convenience.

[2018-07-05 08:04] hezedu commented on #367
same problem on Ubuntu 16.04, node v8.9.3,  n 2.1.12

[2018-07-07 15:38] dhegglin opened #517 "n latest gives Error: invalid version"
# Issue Template:

### Describe issue including what OS you are using

docker
root@642b8f51967f:/# uname -a
Linux 642b8f51967f 3.10.0-514.6.1.el7.x86_64 #1 SMP Wed Jan 18 13:06:36 UTC 2017 x86_64 GNU/Linux

### Describe what version of N you have

root@642b8f51967f:/# n --version
2.1.12

### Describe how you installed N

 RUN npm install --verbose -g n

### Steps to reproduce issue _1.2.3_

root@6

[2018-07-09 06:34] JohnRGee commented on #376
I am having a go at this in a fork and using `nightly/latest` syntax, influenced by `nvs`. If it works out sanely I'll look at a PR.

[2018-07-09 06:36] JohnRGee commented on #480
I am having a go at this in a fork and using syntax like chakracore-release/<version>, influenced by nvs. If it works out sanely I'll look at a PR.

[2018-07-09 18:56] dhegglin commented on #517
root@242d9dedbea0:/# n lts

  Error: invalid version

root@242d9dedbea0:/# n latest

  Error: invalid version

[2018-07-09 21:06] JohnRGee commented on #517
Ok, still have a problem!
Is it a public base docker image, so I can try reproducing?
Does `curl https://nodejs.org/dist/`get the html page with the list of versions?

[2018-07-09 21:10] dhegglin commented on #517
I have an issue with https (proxy issue).  Only http works:

root@f58cdde2b2d5:/# curl https://nodejs.org/dist/
^C
root@f58cdde2b2d5:/# curl http://nodejs.org/dist/
<html>
<head><title>Index of /dist/</title></head>
<body bgcolor="white">
<h1>Index of /dist/</h1><hr><pre><a href="../">../</a>
<a href="latest/">latest/</a>                                            04-Jul-2018 18:08

[2018-07-10 08:50] JohnRGee commented on #517
Issues #430 talks about setting `HTTP_PROXY` and `HTTPS_PROXY`. This is used by `curl` with some details in this [stack overflow topic](https://stackoverflow.com/questions/9445489/performing-http-requests-with-curl-using-proxy).

Otherwise there is an environment variable to override the node mirror, but then of course you are using http and not https. Can try with a one-off command like:

`NODE_M

[2018-07-10 17:13] dhegglin commented on #517
nice, that works!

root@703ee01208b7:/# NODE_MIRROR=http://nodejs.org/dist/ n --lts
8.11.3

root@703ee01208b7:/# NODE_MIRROR=http://nodejs.org/dist/ n 7.2.1

     install : node-v7.2.1
       mkdir : /usr/local/n/versions/node/7.2.1
       fetch : http://nodejs.org/dist/v7.2.1/node-v7.2.1-linux-x64.tar.gz
######################################################################## 100.0%
   installed

[2018-07-12 11:51] DMalagonH commented on #451
I solved it.
I uninstalled node with apt-get and then set 777 permisions to /usr/local/bin/node
[code]
Previously I had installed node 8.11.3 with:
[code]
and then I installed n with:
[code]
But, when I changed the node version with n to 10.5.0 for example `node -v` showed 8.11.3. However, if I use `sudo node -v` it showed the correct version (10.5.0)

[2018-07-13 18:38] rosshadden commented on #508
@Andrewsopoku That would switch the `n` version for the root user, not for your user... Unless you have `n` configured very strangely it won't actually solve or even bypass the issue.

[2018-07-17 05:40] Wayne529 commented on #492
I had get the same wrong in Win10

[2018-07-17 05:50] JohnRGee commented on #492
`Invalid version` is a catch-all for could not find version, so multiple possible causes including proxy issues. To find out if you have proxy or authentication type issues somewhat outside `n`, trying a direct connection to the default node mirror (or the mirror you are using) can be informative. e.g.

[code]

[2018-07-18 10:15] JohnRGee commented on #508
This has been fixed in latest version of `n`. (See Issue #510 for and PR #470 for further info.)

[2018-07-20 23:25] JohnRGee commented on #431
`n` is not likely to be useful on Alpine, because it downloads the prebuilt Linux  Binaries from [nodejs downloads](https://nodejs.org/en/download/) which do not run on Alpine. While you can get `n` working by adding a few packages, the downloaded binaries require `glibc` et al (#344). Alpine comes with a different `libc` called [musl](https://www.musl-libc.org/faq.html).

If you are working with

[2018-07-21 00:29] JohnRGee commented on #503
You may be able to use an environment variable recognised by `curl`, without changes in `n`?

Either `https_proxy` or `HTTPS_PROXY`, depending on your implementation.

e.g. [How to use curl command with proxy username/password on Linux/ Unix](https://www.cyberciti.biz/faq/linux-unix-curl-command-with-proxy-username-password-http-options/)

[2018-07-21 02:19] stsvilik commented on #503
@JohnRGee I have those set in my environment - still no luck. Additionally my company uses middle-man certificate which requires me to ignore security when I use `curl`. Maybe a way to go about it is to have an optional configuration file for `n` (ex. `.nrc`) where such nuances could be configured?

[2018-07-21 02:39] JohnRGee commented on #503
I was wondering about certificates too as that seemed likely to be next problem!
#324 #426

[2018-07-22 16:55] econn9 opened #519 "..."
using High Sierra 10.13

n version: 2.1.12

install with: npm install -g n

Steps:
1. n install 8.5.0

it then throws "Error: invalid version install", doesnt matter what version i type it throws this.

i had expected it to install that version since it does exist.

npm 6.1.0

* Output of `which n:` /usr/local/bin/n
* Output of `node -v:`v10.5.0

[2018-07-23 05:12] Olgagr commented on #374
@Mesieu Unfortunately I didn't.

[2018-07-23 18:40] jamieweavis commented on #511
Should be `sudo n latest`.

I can confirm that this is working on the latest version of Windows 10 Pro! 🎉

_Windows 10 Pro version 1803 build 17134.165_

[2018-07-24 21:04] econn9 commented on #519
ugh i'll just go hide in a cave now

[2018-07-24 21:04] #519 closed

[2018-07-26 13:01] kirisu opened #520 "Taking a long time to switch between node versions"
# Issue Template:

### Describe issue including what OS you are using
macOS High Sierra

### Describe what version of N you have
2.1.11

### Describe how you installed N

Homebrew

### Steps to reproduce issue _1.2.3_
1. Switch from any version of node to another

### Describe the results you received
It can take over a minute to switch between versions.

### Describe the results you expected
It s

[2018-07-26 19:20] joeledwards opened #521 "Add support for ARM 64"
The ARM 64 binaries are available for download, but the two potential architecture identifiers are not recognized yet. I have opened a PR introducing these two: https://github.com/tj/n/pull/448

[2018-07-26 20:47] JohnRGee commented on #520
Do you have anti-virus software running?

`n` is using a fairly straight forward `cp` command, but there are around 5000 files. I recently had the same problem with the first install of (switch to) a version taking over a minute and the second install running ok. I was able to narrow it down to the anti-virus software, which with the real-time monitoring active, made the install run 20 times slowe

[2018-07-27 03:00] mklement0 opened #522 "Suggested terminology changes"
Now that Node.js distinguishes only between _LTS_ and _Current_:

* Consider supporting version spec. `current` as an alias of `latest` and documenting `current` as the preferred form going forward.

* Consider deprecating `stable` and treating it as an alias of `lts`.

* Consider replacing references to "current" in the CLI help with "active" or similar, to avoid confusion:

   *   ` n prune

[2018-07-27 05:54] kirisu commented on #520
Damn. That looks like what's causing it. It is a company laptop, and the antivirus policy is enforced by the network so I can't turn it off permanently, but doing so temporarily seems to improve the situation. I guess I'll just have to deal with it.

[2018-07-27 05:54] #520 closed

[2018-07-27 22:56] JohnRGee commented on #503
You may be able to use http for the traffic to the proxy, and avoid dealing with the middle-man certificate. In the examples my proxy server is `localhost:3128`. The default for curl is to use http to the proxy server and I am explicitly specifying that to make it clear that not using https for that part of the connection.

Using `curl` so you can see error messages if it fails, success looks like

[2018-07-30 20:35] dtuyenle opened #523 "load specific node version"
How do I load a specific node version ? Documentation is so poorly written.

[2018-07-31 03:46] troy0820 commented on #523
`n lts` will give you the latest `lts` version.  If you want a specific version, you would install it by entering `n <version number>` in your terminal.

[2018-07-31 04:41] JohnRGee commented on #523
A concrete example of what Troy said:
`n 4.9.1`

[2018-07-31 14:28] stsvilik commented on #503
Unfortunately, neither `sudo -E n ls` nor explicitly setting proxy env in-line worked.
`curl` command only works like this `curl -k -x http://some.proxy.com:80 --head https://nodejs.org/dist/`

[2018-07-31 15:27] dtuyenle commented on #523
This issue was related to https://github.com/tj/n/issues/400 Turned out I have nvm running .....  Just need to run `nvm use system` Closing now

[2018-07-31 15:27] #523 closed

[2018-08-01 11:14] JohnRGee commented on #503
Thanks for info and example `curl` command. I understand possibilities better now.

A last question. Does a connection to the nodejs mirror on `http` work? e.g.

[code]

[2018-08-02 07:29] edwardaa commented on #363
Adding the `npmrcFile` option does the trick:

[code]
file **npmConfig**:

[code]

[2018-08-06 16:31] stsvilik commented on #503
Well, above example doesn't work for me, and I think that could be due to `.curlrc` file which sets our proxy. Unfortunately I can't just unset it since it is used in all other curl operations used by misc. scripts such as NPM itself. I also decided to dump in here a version of curl installed on my Mac just in case.

[code]

[2018-08-07 07:54] JohnRGee commented on #503
You have a `.curlrc` file? Oh! Well that explains why more is going on than just the command line.

The call that `n` makes to curl when you run `n ls` looks like this assuming you have not defined a custom mirror, and ideally we want it to run without needing to change it:

    curl -L -# http://nodejs.org/dist/

You said earlier this worked:

    curl -k -x http://some.proxy.com:80 --head https:

[2018-08-07 14:30] stsvilik commented on #503
My `.curlrc` only has `proxy`, nothing else.

[2018-08-08 11:10] JohnRGee commented on #503
Try adding a new line to your `.curlrc` with:

    --insecure

and then running:

    curl -L -# http://nodejs.org/dist/

[2018-08-08 17:02] stsvilik commented on #503
Nope, tried with both `--insecure`/`insecure` in `.curlrc`, but above doesn't work. Explicitly setting proxy with `-x` works though.

[2018-08-09 09:36] JohnRGee commented on #503
You can so the same things with command-line options as with `.curlrc`, so can hopefully narrow down the settings you need to work with `n`.

If you want more advice here then I suggest looking at differences between proxy on command line vs proxy in your `.curlrc` settings, and supply an example of the failing command you are running and the verbose output. (I use Mac with same version of curl, b

[2018-08-12 13:37] solepixel commented on #394
This is how I fixed this problem without restarting macOS:

First I ran @glenjamin's command:
```sudo codesign --force --sign - /usr/local/bin/node```

I don't know if it helped, it didn't solve my problem, but maybe it's a combination of that command and what I did, so I'm including it. Then I performed these steps:

1. Open Security & Privacy
2. Click Firewall
3. Unlock to allow changes
4. Click

[2018-08-13 18:44] #503 closed

[2018-08-13 18:45] stsvilik commented on #503
It turned out to be an issue with tinyproxy which stood between actual external proxy :/

[2018-08-14 00:01] jcollum commented on #394
I've never installed `n` and I'm seeing this warning all the time. `sudo codesign` has not helped. The rest of @solepixel's solution doesn't apply since I'm not using `n`. I *am* using `nvm` so this problem seems to be common to both.

[2018-08-14 10:32] JohnRGee commented on #394
I came across an issue about code signing missing for some downloads of node. I don't think this explains the firewall hacks helping described above, but could still be implicated in some problems.

https://github.com/nodejs/node/issues/11936

The command mentioned there for checking the way gatekeeper does and what I see for 8.11.3 is:
[code]

(I have not reproduced the firewall issue so not able

[2018-08-17 07:20] JohnRGee opened #525 "Feature suggestion: n doctor"
I suggest adding `n doctor`command to display configuration information and diagnose known configuration issues. Inspired by `npm doctor` and (Mac) `brew doctor`.

Three goals:
- help people identify their own issues (better user experience)
- reduce tech support issues by identifying known configuration errors
- streamline tech support issues by getting most of the possibly relevant information u

[2018-08-22 22:57] vyzaldysanchez commented on #492
Installing curl locally somehow fixed the issue for me... :laughing:

[2018-08-24 21:40] guiferpa commented on #410
@troy0820 I have a same problem, follow my current Dockerfile:

[code]

I am trying create a image to build a project with ruby@2.3.1 and node lts, for this I want install n but when build this Dockerfile I have the output below:

[code]
The `n` never is found, can you help me?

[2018-08-30 02:53] zfields opened #527 "n latest works but n io latest fail with cp: cannot stat"
Similar to previous issue #298...

`sudo n latest`

Failed on first try with `cp: cannot stat ...`, but then succeeds on second attempt.

Ubuntu 16.04
`n` version 2.1.3

[2018-08-30 10:41] JohnRGee commented on #527
To clarify what is happening:
1)  Are you running `sudo n latest`? (Or `n io latest`? It looks like you may have copied the previous issue title and it might not match what you are doing.)
2) What is the full error message including the file path after the `stat`?
3) Can you reproduce this problem? (Or was it a once off?)

[2018-08-31 03:28] sir-dunxalot commented on #416
Since, High Sierra doesn't allow `chown` on `/usr`, the following solved this issue for me (OS 10.13.6):

[code]

[Reference](https://wired-world.com/?p=320).

[2018-08-31 22:51] JohnRGee commented on #416
The original posters problem is that `n` reports a permission error the first time it is run. The underlying reason this happens is because `n` is checking its cache folders exist every time it is run.

Assuming you want to do node installs to `/usr/local/` (which is the default for `n`):

1) If you will use `sudo` when you run installs, simplest is just run `sudo n` once and it will create the ne

[2018-09-01 06:45] JohnRGee commented on #376
I have a heavily modified [fork](https://github.com/JohnRGee/nvh) with [versions](
https://github.com/JohnRGee/nvh#specifying-node-versions) support for the binary [download folders](https://nodejs.org/download/) such as nightly, test, chakracore-release, et al. I am pleased with the syntax. e.g.

    nvh install lts
    nvh install nightly/8
    nvh install chakracore-release/latest
    nvh insta

[2018-09-01 06:59] JohnRGee commented on #187
On a related note, following the advice from`ShellCheck` (see #465) would likely address spaces in paths and more.

[2018-09-01 09:54] xargr commented on #416
@phongsakornp very very thanks!! works for me!!

[2018-09-03 21:15] zfields commented on #527
It happened the first time and not the second time. I was running `sudo n latest`, and I cannot reproduce, because it worked the second time.

[2018-09-04 09:07] prcongithub commented on #508
This woks for me:
[code]

[2018-09-04 10:55] JohnRGee commented on #527
I have seen the `stat` errors with `n` when a download of a node version has failed after a cache folder got created for it but before the downloaded tarball was unpacked. The implementation detail is that while `/usr/local/n/versions/node/x.y.z` folder exists, the subfolders for `bin` and `include` and `lib` and `share` are not present and you get errors when `n` tries to copy the missing folders

[2018-09-04 23:32] zfields commented on #527
Seems to be a transient error, but I thought I would report it. Everything is working now.

To be clear I tried the exact same steps two times and it "worked" the second time.

[2018-09-10 16:01] devzsolt commented on #100
Still broken on Manjaro Linux. Any fix perhaps?

[2018-09-11 13:36] EBZ-Krisemendt commented on #306
apperently this still is an issue. will it be fixed anytime?

stumbled on it while preparing an image for multiple raspberry versions. i need node in armv61 as well as in armv71 architecture. but due to this issue i can't use same version on both systems.

_i get an "invalid version" error as well, as i try to install the variant architecture but this could be handled by inserting the SD into a di

[2018-09-11 21:44] designgawd commented on #508
@prcongithub That was the solution I was looking for! Thanks, worked in my VM.

[2018-09-12 07:55] JohnRGee commented on #306
@EBZ-Krisemendt : are you preparing a single shared image for multiple raspberry versions, or a separate image for each raspberry version?

It does not sound like you are trying to install different architectures on the same machine like the original poster, and I am wondering if you could use N_PREFIX to download the same version for multiple architectures to different locations.

[2018-09-12 09:13] EBZ-Krisemendt commented on #306
sorry for being unclear. it's one image for different raspberry versions (namely B and B+).

will try using N_PREFIX, but since i already get an error (invalid version) if i want to download armv61 while on armv71 i'm not very hopefull

[2018-09-12 09:36] JohnRGee commented on #306
Just in case you have a typo. You said twice looking to download `armv61` ending in one. But the architecture in the filename is`armv6l` with an L on the end.

e.g. `n --download --arch armv6l 8.11.2`

[2018-09-12 10:56] JohnRGee commented on #100
A manual work-around might be to install to a different location using `N_PREFIX`, and add to `PATH` or add symbolic links in `/usr/local`. Likewise, there is third party installer [n-install](
https://github.com/mklement0/n-install).

(A little history. The suggestion to fix this issue by using `rsync` instead of `cp` got rejected in #104. Support got added later to cope with symbolic links as di

[2018-09-12 11:28] EBZ-Krisemendt commented on #306
shame on me... you got me there. had a typo.

but still:
[code]

[2018-09-12 20:50] JohnRGee commented on #306
Another typo, have not got to the architecture problem yet. Take out the `install` which `n` does not use.

[2018-09-13 14:01] hkkhchan commented on #284
My solution is to remove the folder.
/usr/local/n/versions/node/<your version>/
and then install again.

[2018-09-17 09:41] EBZ-Krisemendt commented on #306
ok, it's working now. dont remember which tutorial told me to use that `install`

[2018-09-19 05:31] mesqueeb commented on #169
I came to a thread hoping to find the solution:
**How to how to remove n and all versions installed by n?**

Does anyone know the correct way?

[2018-09-19 06:14] JohnRGee commented on #169
To be sure how to remove n we would need to know: How did you install `n`? Have you set the `N_PREFIX` environment variable to change the default install location `n` uses for installing `node`?

And some answers for the most common situations:

1) If you installed `n` using
[code]

then you uninstall it using

[code]

2) If N_PREFIX is not set then `n` installs to `usr/local` by default and store

[2018-09-20 15:36] FranzSkuffka commented on #451
@guido4000 thx - that fixed it.

[2018-09-22 08:00] shengoo commented on #508
Thanks, it worked!

[2018-09-23 11:33] deksden commented on #508
Maybe some way of complete uninstall of all node versions (like mentioned above) can be part of n?

[2018-09-24 10:33] JohnRGee commented on #508
`n` was updated in v2.1.12 to address this issue, which is due to major changes in layout in the npm modules folder. So an important step in addition to fixing npm is to also update n, so the problem does not happen again. For example to fix up broken npm *and* update n (add sudo if required):

[code]

[2018-10-10 15:20] Bjorn248 opened #529 "n prune returns 1 as exit code"
# Issue Template:

Using CentOS/RHEL 7

n version 2.1.12

Installed n by placing the script into a directory in PATH

### Steps to reproduce
1. `n prune`
2. `echo $?`

### Describe the results
exit code was 1

### Describe the results you expected

Exit code should be 0 unless there is an error

### What version of npm you are using

npm version 6.2.0

[2018-10-12 08:58] JohnRGee commented on #529
Optional question: is this affecting how you use `n` in practice, or just something you noticed?

I reproduced after a couple of tries. Technically, I think the issue is a bogus `shift` command copied from the `rm` function to the `prune` function` causing the exit status to be (incorrectly) non-zero under some circumstances.

Steps to reliably reproduce:
[code]

[2018-10-12 14:40] Bjorn248 commented on #529
@JohnRGee I use `n` with chef and chef expects commands to have sane exit codes. I had chef client runs failing which is how I found this issue

[2018-10-12 16:07] vishalvisd opened #530 "I hope there would be a de-star... a shit"
# Issue Template:

### Describe issue including what OS you are using

_i.e. I'm using MacOS Sierra_

### Describe what version of N you have
_i.e. n --version output: 2.1.4_

### Describe how you installed N

* _i.e. npm install -g n_
* _i.e. make install_

### Steps to reproduce issue _1.2.3_
_i.e._
1. n latest
2. couldn't pull latest from source

### Describe the results you received

_i.e. bla

[2018-10-12 20:09] JohnRGee commented on #530
Please change the title to something appropriate to your issue.

A couple of ideas:

1) `n` does not produce any extra output if the requested version of node is already active, so one possibility is that latest was already installed. In any case though, just looking up the version is a useful test of whether that part of the code is working. e.g.

[code]

Does this produce any output for you?

2)

[2018-10-14 00:39] troy0820 commented on #530
This doesn't seem like it's an issue.

[2018-10-14 00:39] #530 closed

[2018-10-16 17:40] GerroDen commented on #517
The env `NODE_MIRROR` also worked for me.
But after a bit digging i found out, that my `curl` did not support https somehow(?).
`curl -V` did not contait the https protocol.
So i compiled it with the correct support for my platform: https://askubuntu.com/questions/475670/how-to-build-curl-with-the-latest-openssl, https://curl.haxx.se/docs/install.html
I used the default openssl package for my plat

[2018-10-17 10:44] rootical commented on #400
In my case brew's node was conflicting with the n. So I removed node out from there. `brew uninstall node --ignore-dependencies`. It was installed along with yarn however yarn continue working after removing.

[2018-10-18 19:36] PepperTeasdale commented on #508
@JohnRGee I'm not seeing v2.1.12 in the [releases](https://github.com/tj/n/releases). Would it be possible to make a release for this version so the homebrew version of `n` can be bumped? https://github.com/Homebrew/homebrew-core/blob/master/Formula/n.rb

Bumped into this issue the other day and it took me a while to find this as the root cause

[2018-10-18 19:45] troy0820 commented on #508
Yeah, I'll make a new release for 2.1.12

[2018-10-18 19:51] PepperTeasdale commented on #508
Thanks!

[2018-10-19 19:38] tony-gutierrez commented on #397
This is def still an issue. N refuses to update npm.

[2018-10-23 03:15] ahmedmusawir opened #533 "Doesn't work on High Sierra"
# Issue Template:

### Describe issue including what OS you are using

_i.e. I'm using MacOS Sierra_

### Describe what version of N you have
_i.e. n --version output: 2.1.4_

### Describe how you installed N

* _i.e. npm install -g n_
* _i.e. make install_

### Steps to reproduce issue _1.2.3_
_i.e._
1. n latest
2. couldn't pull latest from source

### Describe the results you received

_i.e. bla

[2018-10-23 04:10] JohnRGee commented on #533
`n` keeps a cache of downloaded node versions so that when you reinstall a version it does not need to download it again. You see the available cached versions when you run `n` without any parameters.

The `rm` command removes the downloaded version from the cache (if present), but does not uninstall node . So running `n rm` does not affect `node -v`.

`n` leans towards minimal messages. In this c

[2018-10-26 08:54] #525 closed

[2018-10-29 12:14] ahmedmusawir commented on #533
Thanx for your reply. I just got nvm and it's all good.

[2018-10-29 15:26] davidrhoderick commented on #416
This should really be in the ReadMe, I can't use n without changing ownership and I had to find this issue ti get it working.

[2018-10-30 07:41] JohnRGee commented on #533
Ok. Suggest you close this issue then.

[2018-11-05 20:38] troy0820 commented on #529
Issue closed from landed commit in PR #531

[2018-11-05 20:38] #529 closed

[2018-11-05 20:42] troy0820 commented on #335
![screen shot 2018-11-05 at 3 41 25 pm](https://user-images.githubusercontent.com/5985850/48025406-4ef25c80-e111-11e8-995e-aaaad7652ffe.png)
Now that LTS is considered stable this issue is closed with PR #467

[2018-11-05 20:42] #335 closed

[2018-11-08 13:50] mpallante opened #536 "Unable to install npm"
# Issue Template:

### Describe issue including what OS you are using

I can no longer install `npm`.

I'm not sure it is a `n` related issue, but it came out to a collegue of mines who was using `n` on a new computer and tried to install node and npm using `n`.

I tried to update my installation and got the same problem.

I'm on MacOS HighSierra (10.12.6), but the collegue has a brand new compute

[2018-11-09 10:53] JohnRGee commented on #536
I was able to reproduce the error, but I am not sure it is worth chasing what is going wrong in `https://npmjs.com/install.sh`. Since `n` installs node AND the included npm, you don't need to download another shell script to install npm. You already have npm, or you can use npm to install npm...

[code]

[2018-11-09 19:23] JohnRGee commented on #536
Good context, thanks. I was wondering why you were doing the command line `npm` install, and see why now.

Those working-with-npm instructions were only intended for recovering from broken `npm`, and `n` has been improved since then so fix-up hopefully no longer needed.

However, your experience suggests the instructions don't actually work on Mac! I'll try digging a bit more to see how README sho

[2018-11-10 03:11] JohnRGee commented on #536
I think this might be an issue with the npm install rather than with n, and have opened a bug on npm community.

https://npm.community/t/install-sh-fails-with-rimraf-command-not-found/3270

[2018-11-13 01:36] chengjaun commented on #517
But it doesn't work for me, what can i do?
root@localhost:~# NODE_MIRROR=http://nodejs.org/dist/ n --lts
10.13.0
root@localhost:~# NODE_MIRROR=http://nodejs.org/dist/ n 10.13.0

     install : node-v10.13.0

  Error: invalid version 10.13.0

root@localhost:~#

[2018-11-13 06:09] JohnRGee commented on #517
@chengjaun
1) Do you know if you are behind a proxy? This thread turned out to be about proxy issues. One way to check is run a curl command directly so can see the errors if it is blocked:

```curl https://nodejs.org/dist/```

2) What architecture are you on? Please post the results of `uname -a` which is how `n` finds out.

[2018-11-13 06:31] chengjaun commented on #517
Thanks for your answer, I have removed the node of old version and installed one of version number 8.11.1

Now I want to run this cmd：
 npm install --save @google/earthengine

but it give me this:
npm WARN root@1.0.0 No description
npm WARN root@1.0.0 No repository field.

Do you have such a problem?
My machine is
root@localhost:~# uname -a
Linux localhost 4.4.0-66-generic #87-Ubuntu SMP Fri Mar 3

[2018-11-13 07:28] JohnRGee commented on #517
Those two warnings are normal when installing into a new npm module just created by `npm init`. npm is warning that those fields in the `package.json` have not been supplied yet. They do not indicate a problem with npm or node (or `n`).

Are you still having problems with `n`?

[2018-11-13 07:42] chengjaun commented on #517
Thanks for your help, there is no problems now.

[2018-11-14 06:06] #340 closed

[2018-11-14 12:33] pelomedusa opened #537 "Allow a group of users to install and switch node version"
### Describe issue including what OS you are using
Debian 9 Stretch

### Describe what version of N you have
2.1.12

### Describe how you installed N
make install

I would like allow a group of users, let's say `nusers` to install and use different versions of node.The users do not need to user separate versions.. Right now i have to use sudo but i would like to get rid of this. How should i proce

[2018-11-16 00:51] JohnRGee commented on #537
You can use `N_PREFIX` to define the node install location (and add `${N_PREFIX}/bin` to `PATH`).

You could define a user separate location in home directory, say `~/n`.

Or you could set up a shared node install location with write permissions for the group, say `/usr/local/nusers`.

[2018-11-16 10:00] pelomedusa commented on #537
Ok il will try this thank you

[2018-11-26 02:39] cn-src opened #538 "Unusual installation method"
# Issue Template:

### Describe issue including what OS you are using
I'm using MacOS Mojave 10.14.1

### Describe what version of N you have
n --version output: 2.1.12

### Describe how you installed N
npm install -g n

I config `export N_PREFIX=$HOME/.config`

And, brew install node with v11.2.0

[code]

[code]

I must use 'sudo'  to work properly.

And, it will ignore the configuration 'N_PREFI

[2018-11-26 05:31] JohnRGee commented on #538
1) Without sudo: I expect you also need to add `$N_PREFIX/bin` to the start of your PATH to have the `n` managed version of node found before the one you installed with brew.

In your first example I think `n lts` is copying node v10.13.0 into your home folder, but then when it runs node after the install it is finding the brew installed version in `/usr/local/bin` so reports that node v11.2.0 is

[2018-11-26 06:34] cn-src commented on #538
Thank you.
Add $N_PREFIX/bin to PATH solved my problem.

[2018-11-26 06:34] #538 closed

[2018-11-28 13:47] atulmy opened #539 "Prune not working"
OS: macOS Mojave

Version of N you have: 2.1.3

### Steps to reproduce issue
`n prune`

### Describe the results you received
`Error: invalid version prune`

### Describe the results you expected
Remove all versions except the current version.

### What version of npm you are using: 6.4.1

* Output of `which n:` 2.1.3
* Output of `node -v:` v10.14.0

<img width="253" alt="screenshot 2018-11-28 at

[2018-11-29 00:42] JohnRGee commented on #539
The prune command got added in `n` v2.1.7 and the current version is v2.1.12, so you need to update if you want the `prune command.

[2018-12-03 10:50] shadowspawn opened #540 "Feature suggestion: n uninstall"
# Suggestion

I propose `n uninstall` removes the active version of node and npm installed by `n`. e.g. for default install location:
- rm -f /usr/local/bin/node
- rm -f /usr/local/bin/npm
- rm -f /usr/local/bin/npx
- et al

I think this would be useful in various scenarios:
- temporarily reverting to a system install of node (assuming one exists)
- deleting node and npm because no longer using
-

[2018-12-03 19:44] JohnRGee commented on #540
Proposed uninstall steps for default install to `/usr/local`:

[code]

[2018-12-04 09:30] KsRyY opened #542 "Suggestion: Remove the "set env as io" feature"
# Suggestion: Remove the "set env as io" feature
[code]
Here is the usage of iojs, but I had mentioned that iojs had been merged into node.js at v4(Probably).
So I think this feature is useless, I suggest you to remove this feature.

**Thanks!**

[2018-12-04 10:20] JohnRGee commented on #367
The problem with the menu selection is that the active version of node is not in the list of versions cached by `n` and triggers a bug selecting from the menu. This can happen when you have more than one version of node installed, and the version being installed by `n` is later in PATH.

Run `which -a node` to see the versions of node you have installed.

You could delete the other version of node

[2018-12-04 10:43] JohnRGee commented on #542
Thanks. There is an open Pull Request #516 to remove the old io project support.

[2018-12-04 15:37] #542 closed

[2018-12-08 03:02] nqtuyen92 commented on #476
@jroporto Thanks you! It work for me! :+1:

[2018-12-12 04:59] JohnRGee commented on #185
I suggest following same syntax as `nvs` and `nvm` which both have an `exec` command:

[code]

So running npm could look like:

[code]

[2018-12-13 09:04] byrenx commented on #492
@vyzaldysanchez what curl version are you using?

[2018-12-15 16:10] devzsolt commented on #100
Thank you @JohnRGee the recommended `n-install` solution works like a charm on the latest Manjaro, so possibly on other Arch-based distros too. I also tried installing n from an AUR package called `nodejs-n` but despite it was prepared for Arch systems it had this same issue with the symlink dir. So n-install is the way to go for now.

[2018-12-16 08:47] shadowspawn opened #543 "Feature suggestion: have "install" say what it does"
(Opening an issue for opportunity for feedback.)

## Problem

Running an install does not always do anything, and there is no feedback to inform the user (<https://github.com/tj/n/issues/198>). The install is silently skipped if the active version of node matches the requested version, and an activation is likewise silent so not visibly different.

This might be reasonable if only node was involve

[2018-12-18 18:41] brandoncordell commented on #492
Same error for me on Ubuntu 16.04 LTS.

[code]

[2018-12-19 03:56] vyzaldysanchez commented on #492
@byrenx cannot recall at the moment, I've changed my linux laptop so I'm not using that env anymore, sorry I couldn't be of more help here...

[2018-12-20 22:56] ycmjason commented on #496
I just happened to worked with something where I need to switch between two versions very often. That's why I suggested this.

To be fair tho, I probably won't be using it that much too and doing `n 8`, `n 6` isn't a lot harder. I will close this then if this is not something that will be considered! 😄

[2018-12-20 22:56] #496 closed

[2018-12-21 09:46] JohnRGee commented on #328
I was reading up on this recently, so adding an answer to this old old question.

The `npm` docs say that by default:

So in your case when you use `n` to install a copy of `node` to the default prefix of `/usr/local/` it also implicitly changes the prefix for `npm` to `/usr/local/` when that copy of `node` is running. (i.e. the new `node` executable is at `/usr/local/bin/node`)

<https://docs.npm

[2018-12-22 00:15] shadowspawn opened #545 "Code Suggestion: add testing framework and tests"
# Problem

`n` does not have any tests for contributors to run after making changes, to add to when making changes, or to prevent regressions. I would like the reassurance that the tests still pass when making a Pull Request, or similarly when reviewing a Pull Request. (End users would hopefully benefit from the increased checks with more robust releases, but would not run the tests themselves.)

[2018-12-22 14:02] troy0820 commented on #545
Definitely, agree.  I want to automate a lot of the testing because what ends up happening is that I make a bunch of containers with Docker to test the functionality of it.  If we can get something started, I'm happy with the suggestions here.

[2018-12-29 06:57] JohnRGee commented on #545
Started work in: https://github.com/JohnRGee/n-test

[2018-12-30 18:45] a3v0 commented on #492
on both machines as root I did
npm cache clean -f
npm install -g n
n stable

no proxy.  The working machine is on wifi and the nonworking is plugged into my router. Don't think that should matter but it is a difference.

working machine
===========
Mirror?
Just started using npm and am using whatever defaults sites for sources they provide.

uname -a
Linux mosqito 3.16.0-4-amd64 #1 SMP Debian 3.16

[2018-12-30 20:48] JohnRGee commented on #492
@a3v0 I think your problem is the second machine is a 32-bit architecture (i686). `n` uses the pre-built binaries from nodejs, and 32-bit builds for Linux were dropped for node 10.

<https://github.com/nodejs/build/issues/885>

However, node 8 is still being supported, and has 32-bit builds, so you can hopefully use that. e.g.

    n 8

or explicit version:

    n 8.15.0

[2018-12-30 20:59] JohnRGee commented on #517
An explanation for people getting "invalid version" for _lts_ or _latest_, but able to install node 8 and below.

`n` uses the pre-built binaries from nodejs, and 32-bit builds for Linux were dropped for node 10. If `unname -a` shows i686 then this probably affects you.

nodejs/build#885

Node 8 is still being supported, and a convenience for installing the newest version is:

    n 8

[2018-12-30 22:20] adamreisnz commented on #405
From what I can see, global modules are being installed in their own `node_modules` folder now, e.g. `/usr/local/n/versions/node/10.15.0/lib/node_modules` instead of `/usr/lib/node_modules`, however this comes with a linking problem it seems, as those global modules cannot be found.

[2018-12-30 22:21] adamreisnz commented on #217
This appears to be already the case

[2018-12-30 22:30] adamreisnz opened #546 "Global modules not installed correctly"
# Issue Template:

### Describe issue including what OS you are using
Raspbian Stretch Lite (latest, clean install)

Installing global npm modules doesn't seem to work correctly anymore. The modules are installed in `/usr/local/n/versions/node/10.15.0/lib/node_modules` and don't show up in `/usr/lib/node_modules`, which should be fine to keep global modules separate, however the modules do not get

[2018-12-31 00:16] adamreisnz commented on #546
Reinstalled everything from scratch with Node 8 and didn't run into this issue.

[2018-12-31 00:35] a3v0 commented on #492
Thanks for the rapid reply.   I will give it a shot.   What I should do is replace that machine.

[2018-12-31 08:37] JohnRGee commented on #405
The folders under `/usr/local/n/versions` are the cached downloads which are used for reinstalls, or by `n use`. They are not used for global modules.

[2018-12-31 09:05] JohnRGee commented on #546
What you are seeing is not the intended behaviour.

The default install by `n` is to `/usr/local`:
* `npm` and `node` are installed in `/usr/local/bin`
* global modules go in `/usr/local/lib/node_modules`

This does not require changing `PATH` if /`usr/local/bin` is included by default.

Since you are seeing mention of `/usr/local/n/versions/node/10.15.0` this suggest somehow you are running node

[2018-12-31 09:08] JohnRGee commented on #217
No, global installs have not been separated by node version.

[2018-12-31 09:45] JohnRGee commented on #546
If you don't have ideas about what happened with the setup, suggested first things to check are:

    which npm
    which node

[2018-12-31 20:59] adamreisnz commented on #546
I assumed at first it had to do with node 10, but maybe it was just a fluke. Regardless, I spent a few hours trying to fix the issues but it just got worse and worse so I decided to start over instead.

I reinstalled everything following exactly the same steps as for all our ARM devices (as per a guide I compiled a while ago). Second time around I installed node 8 first, and then node 10. Everythi

[2018-12-31 20:59] #546 closed

[2018-12-31 21:00] adamreisnz commented on #217
Interestingly enough that's where my globally installed modules ended up in, see also https://github.com/tj/n/issues/546. I realise now this was not the intended behaviour.

[2018-12-31 21:01] JohnRGee commented on #342
I wonder how many people are actually using `PROJECT_NAME` with `n`. I suspect most uses are to use major mirrors like taobao, and I think the undocumented `NODE_MIRROR` is a more elegant way of changing the canonical download source.

[2018-12-31 21:08] JohnRGee commented on #546
Glad to hear it is working now (and frustrating for you that cost time and effort and don't know what happened!). Good luck.

[2019-01-02 09:05] atulmy commented on #539
Unable to update `n` to the latest version:
`npm update -g n`

[code]

[2019-01-02 09:06] #539 closed

[2019-01-09 11:22] spences10 opened #547 "Use .nvmrc with n"
Hi,

Is there a way to use an `.nvmrc` file with `n`?

@gussyboy touched on it in another issue #423 but @JohnRGee seemed to be confused by the comment.

So, so there is no confusion around what I am requesting, I would like to know if it is possible to configure a project that uses node, to use a specific version of node. This sort of behaviour is possible *(as I understand it) with a `.nvmrc` fi

[2019-01-10 10:32] JohnRGee commented on #547
I can see a limited but simple way to use `.nvmrc` with `n`, assuming version number specified in compatible way::

[code]

[2019-01-10 10:55] JohnRGee commented on #547
Configuring a project that use node, to use a specific version of node, is complex. One option more in that spirit is: https://www.npmjs.com/package/node

[2019-01-14 13:53] spences10 commented on #367
I was having this issue, I installed with [n-install] which has an [issue, with a solution] that I used for use in Fish but I was having the same issue with bash, so I changed the n-install line in my `.bashrc` file:

[code]

[n-install]: https://github.com/mklement0/n-install
[issue, with a solution]: https://github.com/mklement0/n-install/issues/21#issue-332225695

[2019-01-15 19:56] spences10 commented on #547
Thanks, I'll try, closing this for now.

[2019-01-15 19:56] #547 closed

[2019-01-17 04:17] denisharder opened #550 "sudo n not preserving installed node permissions"
# Issue Template:

### Describe issue including what OS you are using
My environment is Redhat 7.3/7.4. The default behaviour within this OS on a 'sudo cp' cmd seems to remove the world permissions on the target. This is resulting in npm not being available to a regular user after a sudo n version switch. The specific lines of code in question are in the activate() function w/ the cp commands.

##

[2019-01-17 09:55] JohnRGee commented on #550
I don't see this problem spinning up a docker container with default settings. Do you have a restrictive umask set? I was testing with default mask:

[code]

----
`cp -fR` does leave permissions open to being affected by mask. I did reproduce the problem by setting umask first to remove execute permissions.

`--preserve=[mode]` is not supported on Mac with bash v3. However, `-p` (preserve) and `-a

[2019-01-17 14:50] denisharder commented on #550
Thank you, that was it... I did not have this issue with centos either, but after looking into my sudoers file on redhat, the umask was indeed set (probably by the system admin). I think it makes sense for n to follow the guidelines set by the system. Thanks again!
[code]

[2019-01-17 20:52] JohnRGee commented on #550
Good! And thanks for the details and digging in your report.

[2019-01-21 21:04] Chrisstar56 opened #552 "Making n work on Windows"
I'm not advanced enough to make this work, but wouldn't it be an alternative for windows users, to just download the correct binary and run it for the user?

[2019-01-22 19:31] JohnRGee commented on #552
Do you mean running the full Windows native installer for node, rather than downloading the archive with the prebuilt binary? I think that is different enough from the normal workflow for `n` that probably not going to fit into `n`.

[2019-01-27 20:15] frank-dspeed commented on #376
@JohnRGee are you still working on that ? because i wanted to implament it but your looks working already?

[2019-01-28 01:14] JohnRGee commented on #376
I released support for nightly and the other binary download folders in [nvh](https://github.com/JohnRGee/nvh/) v3.0.0. I don't have any further work planned in that area. (Feedback welcome on using it for installing `nightly` for real work, I only used it for toy testing.)

[2019-01-30 18:28] frank-dspeed opened #553 "PR: Will add nightly chakra and others"
https://github.com/tj/n/issues/378
https://github.com/JohnRGee/nvh/
https://github.com/tj/n/issues/376
https://github.com/tj/n/issues/376#issuecomment-250876666

[2019-01-30 18:31] frank-dspeed commented on #553
will base on existing closed PR https://github.com/tj/n/pull/388/commits/2f854b7680947291a69a8effc9b9b0e9bd0cc42f

[2019-01-30 18:36] frank-dspeed opened #554 "PR: Will add tests via travis-ci"
Closing: #545

[2019-01-30 19:52] JohnRGee commented on #554
In case you hadn't seen it, I suggested adding tests in #545, and work  in progress available in https://github.com/JohnRGee/n-test

[2019-01-31 05:20] JohnRGee commented on #378
This was probably fixed by #470

[2019-01-31 22:31] danielniquet commented on #394
This was the fix for me also! I was struggling with closing the popup window for 3 days, because I had not restarted the computer...

[2019-02-01 09:01] frank-dspeed commented on #554
@JohnRGee i saw your effort but i think its the wrong way probally i will come up with something better your work in progress gave me indeed the idea to raise this PR here :D

[2019-02-05 06:53] JohnRGee commented on #492
@yathamravali `stable` is an old term and was broken by changes to node releases (#335). You will hopefully get expected behaviour by using `lts` instead.

[code]

(Pull Request #467 makes stable an alias for lts to fix this problem, but has not been released yet.)

[2019-02-05 06:58] JohnRGee commented on #492
I recommend opening a new issue for further problems, as this issue now covers multiple different problems and hard to tell which ones have been solved.

[2019-02-07 06:06] frank-dspeed commented on #554
PR: #555

[2019-02-08 19:48] tstackhouse commented on #367
I'm seeing this issue with 8.11.4. I get the above output, complaining about grep, and yet 8.11.4 is listed as an installed version.

[2019-02-08 20:46] JohnRGee commented on #367
@tstackhouse
The double listing is probably due to `<home>/.n/bin` appearing in your `PATH` twice. Have a look in your shell startup file, I suspect you have the path addition twice.

(I don't know why that would trigger the grep error though, but try fixing PATH first.)

[code]

[2019-02-10 01:53] JohnRGee commented on #545
An update. I spent some time on this at start of year, and have a functional setup and initial suite of tests in https://github.com/JohnRGee/n-test. Can open a PR when wanted.

 I have ideas for improvements and additions but a low priority at the moment and I am not planning to change approach significantly (despite #554 #545). Easy to add travis support if desired.

Infrastructure:
- tests can b

[2019-02-11 05:15] frank-dspeed opened #556 "Proposal: DRY RUN"
# What do you guys think?
Should N add a --dry Argument for better testing?
it will then simply print what it will do and not do it ?

[2019-02-11 05:16] frank-dspeed commented on #554
Please look also into #556

[2019-02-12 08:07] shaharyar123 commented on #381
Adding `sudo` works for me.

`sudo n 10.4.0` etc.

[2019-02-12 20:37] tstackhouse commented on #367
@JohnRGee I figure that out. My path needs some housekeeping desperately. I apparently had both `.n` _and_ `n` paths in my home directory. I ended up blowing them both away and reinstalling and everything is hunky dory.

[2019-02-13 16:58] spences10 commented on #367
I've had this problem and found a solution with Fish shell but it still happened when using bash, also, my team leader picked through the issue and found that it was the way in which n-install orders the prefix:

[code]

So this will only work if you used `n-install` to install `n`??

[2019-02-15 00:27] JohnRGee commented on #367
@spences10  Those lines work for anyone who wants to install node to "$HOME/n", it does not matter whether you used `n-install` to install `n`.

And the change @spences10 made was to put `$N_PREFIX/bin` at the start of PATH rather than adding on the end, which is what `n-install` does by default. When there is more than one version of node installed we want _our_ version of node to be found first.

[2019-02-16 23:08] JohnRGee commented on #367
Of interest, I found a good comment about security implications of putting local bin first in path, so an interesting tradeoff to be aware of.

https://stackoverflow.com/a/25151631/1082434

[2019-02-17 07:19] spences10 commented on #367
Thanks for this @JohnRGee, steps for me then.

1. looks like I should un-hack what I did and check with `which -a node` what versions I have installed
2. ... follow @apretto's advice?

[2019-02-17 07:41] JohnRGee commented on #367
Your "hack" is fine @spences10 and is the same as apretto advises, putting `$N_PREFIX/bin` ahead of system folders in PATH. (As long as you are ok with npm globally installed commands being found before system commands. Global installs are less common these days so less of an issue.)

The order in PATH only makes a difference when there are multiple installs, which is where `which -a node` comes i

[2019-02-23 22:53] Francesco-Rizzi commented on #492
Hi John, here I have the same problem, I can't fetch `node: >8`. I found that the OS runs in 32bit. What could we do other than switching to 64bit to have the latest node?

[2019-02-23 23:04] JohnRGee commented on #492
@Francesco-Rizzi
If your OS is still being supported there might be newer versions of node available through your platform package manager, or a hands-on option is building from source.

https://github.com/nodejs/node/blob/master/BUILDING.md

[2019-02-28 01:14] joshuapinter commented on #477
I, too, would love to see this. `rbenv` is such a pleasure to use and is simple enough to understand. It should be emulated as much as possible.

[2019-03-06 05:11] ankitpatnaik commented on #482
How did you set them? I'm getting the same issue and I'm not sure how to fix it. I'm using Ubuntu 14.04 VM

[2019-03-06 20:32] Zashy commented on #394
I worked this into some local scripts I use for easy reuse. And eventually other people kept asking me, so I made it into a simple set of scripts that always seems to do the trick for this issue. Thought it might be helpful to post since it's just a paste and go sorta deal now.

[code]

[2019-03-06 21:31] JohnRGee commented on #482
For proxy issue complications when using sudo:

A  manual work-around is `sudo` has an option to preserve (pass through) your current environment variables:

Curl also reads settings files at various levels, so configuring a settings file is one approach for a permanent solution (albeit I have not tried this).

Lastly, a different approach is to arrange the ownership or install location so that yo

[2019-03-08 18:46] redevill opened #557 "Installation of macports/yarn destroys n"
# Issue Template:

### Describe issue including what OS you are using
I'm using MacOS 10.13.6

### Describe what version of N you have
n --version output: 2.1.3

### Describe how you installed N
npm install -g n_

### Steps to reproduce issue
Installed macports, followed by yarn (which does a node install I found out)
n no longer shows the selected n version
node -v gives a different result.
![ima

[2019-03-08 18:52] redevill commented on #557
A follow up. I did a re-install of n, and the functionality appears to be working with the exception of the
"n" ... which is supposed to show you what version is being used. workaround node -v

[2019-03-08 19:40] redevill commented on #557
Another follow up - Mac ports is the one that takes away the cursor of which version is used.
Got rid of all ports - sudo port -f uninstall installed and n working again.
![image](https://user-images.githubusercontent.com/8999255/54051556-539e4e80-419f-11e9-92d6-bc9288849913.png)

[2019-03-08 19:40] #557 closed

[2019-03-08 19:54] shadowspawn commented on #557
`n` installs to `/usr/local` by default. macports installs to `/opt/local` by default. You can see if you have more than one version of node in your PATH, and where, with

[code]

When `n` show you its list of available downloaded versions, and a different version of node is active from another location, nothing will have the "cursor". And installing a version from the list won't change the active

[2019-03-09 02:45] shadowspawn commented on #342
I have been wondering how to fix this with minimum disruption to people actually using the `PROJECT_NAME` support. I would prefer to remove it, but who knows how many people are using it! I came up today with a possible approach:
- add `N_PROJECT_NAME`, which overrides `PROJECT_NAME`
- include support for `N_PROJECT_NAME` being blank to suppress old behaviour (specifically as a work-around for cla

[2019-03-09 03:51] shadowspawn opened #558 "Offering to be a maintainer (collaborator)"
I am interested in helping maintain and improve `n`. I am active here in this repo as a commenter and contributor:

- https://github.com/tj/n/issues?utf8=✓&q=is%3Aissue+commenter%3Ashadowspawn+
- https://github.com/tj/n/pulls?utf8=✓&q=is%3Apr+commenter%3Ashadowspawn
- https://github.com/tj/n/commits?author=shadowspawn

I see backwards compatibility as very important for `n`, being widely used and

[2019-03-11 15:47] sdevilliers commented on #557
Thank you for the info shadow - makes sense.
Cleaned up my .bash_profile path, and only have one version of n installed... now.

Couple of other points, that may help someone else stumbling through like me.
1. Yarn can be installed with NPM, thus avoiding the macports - and above confusion.
2. Webstorm can operate with either yarn or npm, however - when I installed yarn it changed the default to y

[2019-03-11 15:51] redevill commented on #557
Thank you for the info shadow - makes sense.
Cleaned up my .bash_profile path, and only have one version of n installed... now.

Couple of other points, that may help someone else stumbling through like me.

1. Yarn can be installed with NPM, thus avoiding the macports - and above confusion.
2. Webstorm can operate with either yarn or npm, however - when I installed yarn it changed the default to

[2019-03-12 09:14] shadowspawn commented on #508
See https://github.com/tj/n/issues/508#issuecomment-423933394

[2019-03-12 16:25] troy0820 commented on #558
I'm trying to see what I need to do for this to happen.  I was going to see if you wanted to but I saw you made your own fork of it.  I can reach out and see to get you added to this repo. @shadowspawn

[2019-03-12 19:35] qw3rtman commented on #558
Sure, we really appreciate your contributions — would be happy to have you on-board as a maintainer!

[2019-03-14 05:46] AndersonZacharyT commented on #484
Ok, I tried `omgaz` script with no luck. I seem to be stuck on npm@6, but I need npm@5. I got stuck on 6 after using `n` to switch from node 8 to node 10.

It looks like the only `npm` in my path is in `~/.npm-global` which seems ideal... `npm i -g npm@5.6.0` has no effect, as `npm -v` still returns `6.4.0`

Any ideas?

[2019-03-14 08:12] shadowspawn commented on #484
@AndersonZacharyT we can hopefully work out your problem from scratch.

If the version of npm does not change when you run

[code]

then the location it is installing to is not replacing the active version of npm. Likewise if using `n` to install new node does not also change `npm`, then it is going to a different location.

What are:

[code]

[2019-03-21 08:17] shadowspawn commented on #558
On GitHub only the repository owner can grant additional access, so need to reach out to @tj
https://help.github.com/en/articles/permission-levels-for-a-user-account-repository

On npmjs, all owners have full control.
https://docs.npmjs.com/cli/owner

[2019-03-21 09:44] tj commented on #558
added :D

[2019-03-21 19:21] shadowspawn commented on #558
Accepted invite. Thanks team. :-)

[2019-03-21 20:17] #558 closed

[2019-03-22 21:00] shadowspawn commented on #139
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:00] #139 closed

[2019-03-22 21:03] shadowspawn commented on #171
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:03] #171 closed

[2019-03-22 21:03] shadowspawn commented on #192
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:03] #192 closed

[2019-03-22 21:03] shadowspawn commented on #206
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:03] #206 closed

[2019-03-22 21:05] shadowspawn commented on #372
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:05] #372 closed

[2019-03-22 21:09] shadowspawn commented on #370
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:09] #370 closed

[2019-03-22 21:10] shadowspawn commented on #363
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:10] #363 closed

[2019-03-22 21:11] shadowspawn commented on #355
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:11] #355 closed

[2019-03-22 21:14] shadowspawn commented on #354
Fixed `stable` in #467
More recent and extensive comments in #522

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:14] #354 closed

[2019-03-22 21:15] shadowspawn commented on #353
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:15] #353 closed

[2019-03-22 21:15] shadowspawn commented on #343
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:15] #343 closed

[2019-03-22 21:16] shadowspawn commented on #338
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:16] #338 closed

[2019-03-22 21:17] shadowspawn commented on #331
io support removed in #516

[2019-03-22 21:17] #331 closed

[2019-03-22 21:17] shadowspawn commented on #330
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:17] #330 closed

[2019-03-22 21:18] shadowspawn commented on #329
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:18] #329 closed

[2019-03-22 21:21] shadowspawn commented on #310
This has probably been fixed by #470

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:21] #310 closed

[2019-03-22 21:21] shadowspawn commented on #308
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:21] #308 closed

[2019-03-22 21:22] shadowspawn commented on #302
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:22] #302 closed

[2019-03-22 21:22] shadowspawn commented on #297
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:22] #297 closed

[2019-03-22 21:24] shadowspawn commented on #294
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:24] #294 closed

[2019-03-22 21:25] #293 closed

[2019-03-22 21:25] shadowspawn commented on #260
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:25] #260 closed

[2019-03-22 21:26] shadowspawn commented on #259
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:26] #259 closed

[2019-03-22 21:26] shadowspawn commented on #258
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:26] #258 closed

[2019-03-22 21:27] shadowspawn commented on #243
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:27] #243 closed

[2019-03-22 21:27] shadowspawn commented on #236
This was probably fixed by #470

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:27] #236 closed

[2019-03-22 21:28] shadowspawn commented on #385
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:28] #385 closed

[2019-03-22 21:42] shadowspawn commented on #391
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:42] #391 closed

[2019-03-22 21:42] #393 closed

[2019-03-22 21:42] shadowspawn commented on #395
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:42] #395 closed

[2019-03-22 21:43] shadowspawn commented on #402
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:43] #402 closed

[2019-03-22 21:44] shadowspawn commented on #403
Hopefully fixed by #470

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:44] #403 closed

[2019-03-22 21:44] #431 closed

[2019-03-22 21:46] shadowspawn commented on #413
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:46] #413 closed

[2019-03-22 21:47] shadowspawn commented on #418
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:47] #418 closed

[2019-03-22 21:47] shadowspawn commented on #439
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:47] #439 closed

[2019-03-22 21:48] shadowspawn commented on #449
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:48] #449 closed

[2019-03-22 21:49] shadowspawn commented on #453
This issue was hopefully fixed by #470

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:49] #453 closed

[2019-03-22 21:50] shadowspawn commented on #472
This issue was hopefully fixed by #470

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 21:50] #472 closed

[2019-03-22 22:10] shadowspawn commented on #527
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 22:10] #527 closed

[2019-03-22 22:10] shadowspawn commented on #490
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 22:10] #490 closed

[2019-03-22 22:11] shadowspawn commented on #487
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 22:11] #487 closed

[2019-03-22 22:12] shadowspawn commented on #451
Restarting the shell was the most common fix.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 22:12] #451 closed

[2019-03-22 22:17] shadowspawn commented on #377
This is an interesting idea, but would need a different approach to clarify the two different behaviours of picking latest local version or latest downloadable version.

A simple workaround is to use the menu selection and pick from the installed versions.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if

[2019-03-22 22:17] #377 closed

[2019-03-22 22:36] shadowspawn commented on #558
@troy0820

I am now a collaborator on GitHub, but have not been added to npmjs. This is something I believe you can do and does not need tj. See https://docs.npmjs.com/cli/owner

[code]

(I am currently purging old issues and pull requests, as you may have noticed from deluge of emails! Hopefully this one does not get lost in the noise.)

[2019-03-22 22:42] troy0820 commented on #558
You should be an official "maintainer" in npm.

[2019-03-22 22:52] shadowspawn commented on #217
A reasonable question @fl0w . Isolating global packages would be a big change and unlikely to happen in `n`. If that is an important feature for you, I suggest you look at one of the other node version managers which support isolated global packages, such as `nvm`.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-22 22:52] #217 closed

[2019-03-22 23:07] shadowspawn commented on #558
Thanks, confirmed.

[2019-03-23 00:41] shadowspawn commented on #210
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-23 00:41] #210 closed

[2019-03-23 00:44] shadowspawn commented on #488
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-23 00:44] #488 closed

[2019-03-23 00:45] shadowspawn commented on #552
This issue has not had any activity in a couple of months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-23 00:45] #552 closed

[2019-03-23 00:48] shadowspawn commented on #537
This issue has not had any activity in a few months.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-23 00:48] #537 closed

[2019-03-23 00:56] shadowspawn commented on #536
Given the npm install script is not working on Mac, and an issue causing npm to break has been fixed in #470, planning to remove the suggestion from the README.

[2019-03-23 01:29] shadowspawn commented on #204
Good comments on why switching when `cd` is not a good match for `n`, and other approaches.

This issue has not had much activity in years. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.